    /*___________________________________*/
   /*                                   */
  /*  BUILDINGFIREFOX.COM MAIN STYLES  */
 /*  Author: Arnau March - @RnowM     */
/*___________________________________*/

html { font-size: 62.5%; }

.dboh {
  display: block;
  overflow: hidden;
}

#main-feature {
  padding: 0 0 30px 0;
}

#main-feature h1 {
  font-size: 88px;
  margin: 0 20px 50px 20px;
}

#main-feature h2 {
  font-size: 37px;
  background: #c3d0db;
  padding: 5px 20px 10px 20px;
  display: block;
  overflow: hidden;
}

#main-feature h1 a {
  color: #a8c0d6;
  text-shadow: 1px 1px 0 rgba(255,255,255,.5),
               -1px -1px 0 #8ca8c4;
  transition: color 1s ease, text-shadow 1s ease;
  -webkit-transition: color 1s ease, text-shadow 1s ease;
}

#main-feature h1 a:focus,
#main-feature h1 a:hover {
  color: #484848;
  text-decoration: none;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.75),
               -1px -1px 0 #484848;
}

#main-feature h2 a {
  color: #484848;
  text-shadow: none;
}

#main-feature h2 a:focus,
#main-feature h2 a:hover {
  text-decoration: underline;
}

#main-feature .header-links {
  float: right;
}

#main-feature .header-links:after {
  content: "";
  background: url(../images/downloads/icon_download_hover.png),
              url(./images/downloads/icon_github_hover.png);
  opacity: 0;
}

#main-feature .header-links a {
  font-size: 0;
  background: url(../images/downloads/icon_download.png) no-repeat center bottom;
  width: 32px;
  height: 35px;
  float: left;
  margin-left: 10px;
  transition: background 1s ease;
  -webkit-transition: background 1s ease;
}

#main-feature .header-links a:focus,
#main-feature .header-links a:hover {
  background-image: url(../images/downloads/icon_download_hover.png);
}

#main-feature .header-links a.github {
  background-image: url(../images/downloads/icon_github.png);
}

#main-feature .header-links a.github:focus,
#main-feature .header-links a.github:hover {
  background-image: url(../images/downloads/icon_github_hover.png);
}

.content-section {
  padding-top: 20px;
  padding-bottom: 0;
}

.content-section > h3 {
  padding-top: 30px;
  display: inline-block;
}

.content-section > h3:first-of-type {
  padding-top: 20px;
  border-top: none;
}

.content-section h4 {
  background: #c3cfdb;
  font-size: 16px;
  padding: 5px 15px;
  margin: 0;
  text-shadow: none; 
  font-weight: bold;
}

.content-section hr {
  margin: 10px 0 0 0;
  border-bottom: 1px dotted #b5b5b5;  
}

/* Home */
body.Home #wrapper {
  padding-bottom: 0;
}

body.Home #main-feature {
  padding: 15px 0 48px 0;
  text-align: center;
}

body.Home #main-feature h1 {
  font-size: 108px;
  margin: 0 0 20px 0;
}

body.Home #main-feature h2 {
  font-size: 48px; 
  margin-right: 0;
  background: none;
}

body.Home .menu-bar {
  background: #c3d0db;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  padding: 0 10px;
}

body.Home .content-section {
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 15px 0 5px 0;
}

body.Home .content-section > ul {
  display: block;
  overflow: hidden;
  margin: 0;
}

body.Home .content-section > ul li {
  float: left;
  width: 320px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  list-style-type: none;
  margin: 0 0 0 20px;
  text-align: center;
}

body.Home .content-section > ul li:first-child {
  margin-left: 0;
}

body.Home .content-section > ul li a {
  display: block;
  overflow: hidden;
  padding: 40px 0 10px;
  transition: background 1s ease;
  -webkit-transition: background 1s ease;
  text-align: center;
}

body.Home .content-section > ul li a:focus,
body.Home .content-section > ul li a:hover {
  background: #fff;
  text-decoration: none;
}

body.Home .content-section > ul li figure {
  width: 320px;
  text-align: center;
  height: 230px;
  position: relative;
  display: inline-block;
}

body.Home .content-section > ul li figure img {
  display: inline-block;
}

body.Home .content-section > ul li figure {
  transition: background 1s ease;
  -webkit-transition: background 1s ease;
}

body.Home .content-section > ul li#building-blocks figure {
  background: url(../images/building_blocks_icon.png) center 29px no-repeat;
}

body.Home .content-section > ul li#building-blocks a:focus figure,
body.Home .content-section > ul li#building-blocks a:hover figure {
  background-image: url(../images/building_blocks_icon_hover.png);
}

body.Home:after { /* Preload images */
  content: "";
  background: url(../images/building_blocks_icon_hover.png),
              url(../images/downloads_icon_hover.png),
              url(../images/transitions_icon_hover.png);
  opacity: 0;
}

body.Home .content-section > ul li#downloads img {
  margin-top: 15px;
}

body.Home .content-section > ul li#downloads figure {
  background: url(../images/downloads_icon.png) 121px 75px no-repeat;
}

body.Home .content-section > ul li#downloads a:focus figure,
body.Home .content-section > ul li#downloads a:hover figure {
  background-image: url(../images/downloads_icon_hover.png);
}

body.Home .content-section > ul li#transitions figure {
  background: url(../images/transitions_icon.png) center 54px no-repeat;
}

body.Home .content-section > ul li#transitions a:focus figure,
body.Home .content-section > ul li#transitions a:hover figure {
  background-image: url(../images/transitions_icon_hover.png);
}

body.Home .content-section > ul li h3 {
  color: #2f2f2f;
  font-size: 34px;
  margin: 15px 0 5px 0;
  text-shadow: none;
  transition: color 1s ease;
  -webkit-transition: color 1s ease;
}

body.Home .content-section > ul li a:focus h3,
body.Home .content-section > ul li a:hover h3 {
  color: #67a7d0;
}

body.Home .content-section > ul li p {
  color: #2f2f2f;
  font-size: 22px;
  line-height: 33px;
  font-weight: 300;
  transition: color 1s ease;
  -webkit-transition: color 1s ease;
}

body.Home .content-section > ul li a:focus p,
body.Home .content-section > ul li a:hover p {
  color: #67a7d0;
}

.content-section h5 {
  font-size: 19px;
  line-height: 21px;
  margin-bottom: 20px;
}

body.Home .content-section h4 {
  color: #626363;
  font-size: 30px;
  font-weight: normal;
  padding: 30px 0 35px 90px;
  position: relative;
  background: #fff;
  margin-top: 20px;
}

body.Home .content-section h4:before {
  position: absolute;
  content: "";
  background: url(../images/working_on.png) no-repeat;
  height: 78px;
  width: 98px;
  left: 5px;
  top: -10px;
}

body.Home .content-section h4 + ul {
  background: url(../images/working_on_bk.png) repeat-x;
  padding: 0 30px 0 13px;
}

body.Home .content-section h4 + ul li {
  color: #3c3c3c;
  float: none;
  background: url(../images/working_on_dot.png) 0 4px no-repeat;
  width: auto;
  text-align: left;
  font-size: 14px;
  line-height: 19px;
  padding: 0 0 15px 30px;
  margin: 0;
}

body.Home .content-section h4 + ul li:first-child {
  padding: 0 0 20px 30px;
}

body.Home .content-section h4 + ul li a {
  padding: 0;
  display: inline;
  color: #3c3c3c;
  text-decoration: underline;
  font-weight: bold;
}

body.Home .content-section h4 + ul li a:focus,
body.Home .content-section h4 + ul li a:hover {
  color: #67a7d0;
  text-decoration: underline;
}

/* Header Downloads */
/*.header-downloads {
  background: #fff url(../images/download.png) no-repeat 196px 20px;
  -moz-box-shadow: 2px 3px 2px rgba(0,0,0,.1);
  -webkit-box-shadow: 2px 3px 2px rgba(0,0,0,.1);
  box-shadow: 2px 3px 2px rgba(0,0,0,.1);
  float: right;
  width: 340px;
  height: 145px;
  position: relative;
  margin-top: 5px;
}

.header-downloads:hover {
  text-decoration: none;
}

.header-downloads:before {
  position: absolute;
  content: "";
  background: transparent no-repeat;
  height: 43px;
  width: 76px;
  right: 20px;
  top: 65px;
  transition: background 1s ease;
  -webkit-transition: background 1s ease;
}

.header-downloads.zip:before {
  background-image: url(../images/download_zip.png);
}

.header-downloads.zip:after,
.header-downloads.zip:hover:before {
  background-image: url(../images/download_zip_hover.png);
}

.header-downloads.css:before {
  background-image: url(../images/download_css.png);
}

.header-downloads.css:after,
.header-downloads.css:hover:before {
  background-image: url(../images/download_css_hover.png);
}

.header-downloads.psd:before {
  background-image: url(../images/download_psd.png);
}

.header-downloads.psd:after,
.header-downloads.psd:hover:before {
  background-image: url(../images/download_psd_hover.png);
}

.header-downloads p {
  font-size: 34px;
  color: #a4a4a5;
  width: 210px;
  line-height: 33px;
  letter-spacing: 0;
  text-align: center;
  text-shadow: none;
  margin: 40px 0 0 0;
  transition: color 1s ease;
  -webkit-transition: color 1s ease;
}

.header-downloads:hover p {
  color: #67a7d0;
}

.header-downloads p span {
  color: #fff;
  background: #a4a4a5;
  font-size:  18px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 10px;
  font-weight: bold;
  transition: background 1s ease;
  -webkit-transition: background 1s ease;
}

.header-downloads:hover p span {
  background: #67a7d0;
}
*/

/* Aside Menu-bar */
aside.left-side {
  float: left;
}

aside nav.menu-bar {
  text-align: inherit;
  line-height: 100%;
  width: 270px;
  padding: 0;
  background: #f7fafc url('../images/grain.png');
  border: 1px solid #e7e7e7;
  font-family: 'Open Sans',Arial,Helvetica,sans-serif;
  margin-bottom: 30px;
}

aside nav.menu-bar:last-child {
  margin-bottom: 0;
}

aside nav.menu-bar ul {
  padding: 10px 0;
}

aside nav.menu-bar ul li {
  display: block;
  padding: 0;
  margin: 0;
}

aside nav.menu-bar ul li a {
  padding: 13px 30px 13px 20px;
  border: 0;
  display: block;
  font-size: 13px;
  text-transform: uppercase;
  color: #000;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

aside nav.menu-bar ul li:first-child a {
  border-top: 0;
}

aside nav.menu-bar ul li a.current {
  background: #fff;
  border-color: #e7e7e7;
  position: relative;
}

aside nav.menu-bar ul li a.current:after {
  position: absolute;
  left: 0;
  right: 10px;
  top: 0;
  bottom: 0;
  content: "";
  background: url(../images/menu_arrow_r.png) no-repeat right center;
}

aside nav.menu-bar ul li a.current:before {
  position: absolute;
  left: 0;
  right: 0;
  content: "";
  border-bottom: 1px solid #fff;
  bottom: -2px;
}

aside nav.menu-bar ul li a:focus,
aside nav.menu-bar ul li a:hover {
  background: #d8e0e9;
  text-decoration: none;
  color: #000;
}

aside.left-side + section.content-section {
  margin-left: 300px;
}

aside nav.menu-bar h4 {
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px 10px 20px;
}

/* SEE MORE */
.content-section > blockquote,
.Downloads blockquote {
  display: none;
}

.read-more {
  color: #67a7d0;
  margin-left: 6px;
  cursor: pointer;
  text-decoration: underline;
}

.scroll-top {
  text-align: center;
  margin: 20px 0 30px 0;
  padding: 30px 0;
  border-top: 1px dotted #b5b5b5;
  border-bottom: 1px dotted #b5b5b5;
  height: 27px;
}

.scroll-top span {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #67a7d0;
  color: #fff;
  font-size: 16px;
  padding: 2px 30px 4px 12px;
  position: relative;
  cursor: pointer;
}

.scroll-top span:before {
  background: url(../images/scroll_top.png) no-repeat right 6px;
  height: 100%;
  left: 0;
  right: 12px;
  position: absolute;
  content: "";
}

/* Dropdown */
.dropdown {
  position: relative;
  height: 65px;
}

.dropdown-toggle {
  position: absolute;
  color: #484848;
  font-size: 28px;
  font-weight: 300;
  padding-right: 30px;
  white-space: nowrap;
  border: 1px solid #e1e1e8;
  height: 50px;
  line-height: 50px;
  text-indent: 15px;
  left: 0;
  top: 0;
  right: 0;
  z-index: 201;
}

.dropdown-toggle:focus,
.dropdown-toggle:hover {
  text-decoration: none;
}

.dropdown-toggle:before {
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  background: #63a6d1 url(../images/dropdown.png) center no-repeat;
  top: 0;
  right: 0;
  border-left: 1px solid #63a6d1;
  transition: background 0.8s ease, border 0.8s ease;
  -webkit-transition: background 0.8s ease, border 0.8s ease;
}

.dropdown-toggle.hover:before {
  background-color: #ececec;
  border-color: #e1e1e8;
}

.dropdown-menu {
  opacity: 0;
  transition: opacity 0.8s ease;
  -webkit-transition: opacity 0.8s ease;
  position: absolute;
  list-style: none;
  -moz-box-shadow: 0 0 3px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.3);
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  margin: 0;
  z-index: 200;
  left: 0;
  top: 0;
  padding-top: 51px;
  right: 0;
  background: #fff;
  padding: 60px 10px 10px 10px;
  border: 1px solid #e1e1e8;
}

.dropdown-menu.hover {
  opacity: 1;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  color: #484848;
  font-size: 28px;
  line-height: 34px;
  font-weight: 300;
  display: block;
  padding: 5px;
}

.dropdown-menu a.active {
  background: #ebecec;
}

.dropdown-menu a:focus,
.dropdown-menu a:hover {
  background: #67a7d0;
  color: #fff;
  text-decoration: none;
}

.dropdown-menu a:active {
  background: #2780ba;
}

.dropdown-menu a:focus {
  outline: none; /* ideally remove? */
}

.dropdown-content {
  list-style: none;
  margin: 10px 0 0 0;
  border-bottom: 1px dotted #b5b5b5;
}

.dropdown-content:last-of-type {
  border-bottom: none;
}

.dropdown-content li {
  display: none;
  margin: 0;
}

.dropdown-content li:first-child {
  display: block;
}

/* Examples */
section.example {
  padding: 20px;
  border: 1px solid #e1e1e8;
  background-color: #f7f7f9;
  margin-bottom: 20px;
}

section.example > img {
  display: none;
}

.image-fallback section.example > img {
  margin: 0 auto;
  display: block;
}

section.example .frame {
  display: block;
  overflow: hidden;
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.image-fallback section.example .frame {
  display: none;
}

section.example .full.frame {
  height: 480px;
}

/* Tabs Navigation */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li > a > img {
  max-width: none;
}
.nav > .pull-right {
  float: right;
}
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.nav li + .nav-header {
  margin-top: 9px;
}
.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}
.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.nav-tabs,
.nav-pills {
  *zoom: 1;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}
.nav-tabs > li,
.nav-pills > li {
  float: left;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #0088cc;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li > a {
  margin-right: 0;
}
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  border-color: #ddd;
  z-index: 2;
}
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}
.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.nav .dropdown-toggle .caret {
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
  margin-top: 6px;
}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}
/* move down carets for tabs */
.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px;
}
.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus {
  cursor: pointer;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.tabs-stacked .open > a:hover,
.tabs-stacked .open > a:focus {
  border-color: #999999;
}
.tabbable {
  *zoom: 1;
}
.tabbable:before,
.tabbable:after {
  display: table;
  content: "";
  line-height: 0;
}
.tabbable:after {
  clear: both;
}
.tab-content {
  overflow: auto;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-bottom-color: transparent;
  border-top-color: #ddd;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
.nav > .disabled > a {
  color: #999999;
}
.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}


/* Footer */
#colophon {
  background: #242424 url(../images/footer-bk.png) repeat-x;
  color: #fff;
  padding: 0 0 20px 0;
  font-size: 14px;
  line-height: 24px;
  margin: 10px 0 0 0;
  overflow: hidden;
}

#colophon .row {
  width: 1000px;
}

#colophon .col {
  width: 310px;
  float: left;
  margin-left: 30px;
}

#colophon .col:first-child {
  margin-left: 0;
}

#colophon h3 {
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
  color: #a6a6a6;
  text-transform: uppercase;
  text-shadow: none;
  margin-bottom: 20px;
  font-weight: 300;
}

#colophon ul {
  list-style: none;
}

#colophon ul li {
  margin-left: 0;
}

#colophon a,
#colophon a:link,
#colophon a:visited {
  color: #67a7d0;
  text-decoration: underline;
}

#colophon .col.twitter h3 {
  background: url(../images/footer-twitter.png) 0 center no-repeat;
  text-indent: 37px;
}

#colophon .col.links h3 {
  background: url(../images/footer-links.png) 0 center no-repeat;
  text-indent: 37px;
}

#colophon .col.links h4 {
  font-size: 14px;
  line-height: 24px;
  text-shadow: none;
  margin: 0;
  font-weight: bold;
  letter-spacing: 0;
  color: #fff;
}

#colophon .col.links a,
#colophon .col.links a:visited {
  padding-bottom: 10px;
  display: block;
}

#colophon .col.twitter a {
  text-decoration: none;
}

/* Poll */
#poll {
  width: 100%;
  min-height: 298px;
  border: 1px solid #444;
  background: #333;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}


/* TOOLTIP */
.tipsy { padding: 5px; font-size: 14px; position: absolute; z-index: 100; }
.tipsy-inner { margin: 0 -5px; padding: 5px 8px 4px 8px; background-color: black; color: white; max-width: 200px; text-align: center; }
.tipsy-inner { border-radius: 3px; -moz-border-radius:3px; -webkit-border-radius:3px; }
.tipsy-arrow { position: absolute; background: url('../images/tipsy.gif') no-repeat top left; width: 9px; height: 5px; }
.tipsy-n .tipsy-arrow { top: 0; left: 50%; margin-left: -4px; }
.tipsy-n .tipsy-arrow.custom { top: -4px; }
.tipsy-nw .tipsy-arrow { top: 0; left: 6px; }
.tipsy-ne .tipsy-arrow { top: 0; right: 10px; }
.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -4px; background-position: bottom left; }
.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; background-position: bottom left; }
.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; background-position: bottom left; }
.tipsy-e .tipsy-arrow { top: 50%; margin-top: -4px; right: 0; width: 5px; height: 9px; background-position: top right; }
.tipsy-w .tipsy-arrow { top: 50%; margin-top: -4px; left: 0; width: 5px; height: 9px; }

/* Downloads */
body.Downloads .content-section ul {
  list-style: none;
}

body.Downloads .content-section li {
  padding: 20px 0 30px 0;
  margin: 0;
  border-top: 1px dotted #b5b5b5;  
  display: block;
  overflow: hidden;
}

body.Downloads .content-section li:first-child {
  padding-top: 0;
  border-top: none;
}

body.Downloads .content-section li img {
  padding: 10px;
  margin: 3px 0 0 6px;
  -moz-box-shadow: 0 0 6px rgba(0,0,0,.16);
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.16);
  box-shadow: 0 0 6px rgba(0,0,0,.16);
}

body.Downloads .content-section li > h2 {
  margin-left: 355px;
}

body.Downloads .content-section li > p {
  margin: 0 0 5px 355px;
}

body.Downloads .content-section li > h2 + p {
  margin-bottom: 30px;
}

body.Downloads .content-section li > p:first-child {
  margin: 0;
  float: left;
}

body.Downloads .content-section li a {
  border: 1px solid #ced6df;
  background: #f5f7f9 url(../images/downloads/icon_download.png) 5px center no-repeat;
  color: #6d8397;
  font-size: 22px;
  text-decoration: underline;
  display: block;
  padding: 5px 0 5px 60px;
  transition: background 1s ease, color 1s ease;
  -webkit-transition: background 1s ease, color 1s ease;
}

body.Downloads:after { /* Preload images */
  content: "";
  background: url(../images/downloads/icon_download_hover.png),
              url(./images/downloads/icon_github_hover.png);
  opacity: 0;
}

body.Downloads .content-section li a:focus,
body.Downloads .content-section li a:hover {
  color: #484848;
  background-color: #ced6df;
  background-image: url(../images/downloads/icon_download_hover.png);
}

body.Downloads .content-section li a.github {
  background-image: url(../images/downloads/icon_github.png);
}

body.Downloads .content-section li a.github:focus,
body.Downloads .content-section li a.github:hover {
  background-image: url(../images/downloads/icon_github_hover.png);
}

body.Downloads .content-section li blockquote {
  margin: 0 0 40px 355px;
}

body.Downloads .content-section li blockquote a {
  background: none;
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  padding: 0;
  border: none;
}

body.Downloads .content-section li blockquote a:focus,
body.Downloads .content-section li blockquote a:hover {
  background: none;
}

/* ICONS */
section.icons {
  margin-bottom: 20px;
  display: block;
  overflow: hidden;
}
section.icons h2 {
  font-size: 29px;
  line-height: 29px;
  color: #5a5a5a;
  font-weight: 400;
  margin: 0 0 10px 0;
}
section.icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
section.icons li.action-icon,
section.icons li.media-icon,
section.icons li.settings-icon,
section.icons li.comms-icon {
  line-height: 30px;
  font-size: 12px;
  margin-bottom: 10px;
  position: relative;
  float: left;
  width: 200px;
  height: 30px;
}
section.icons li.action-icon:after,
section.icons li.media-icon:after,
section.icons li.settings-icon:after,
section.icons li.comms-icon:after {
  background: rgba(0,0,0, 0.8);
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
section.icons li.comms-icon.dark:after,
section.icons li.settings-icon:after {
  background: #fff;
  border: 1px solid #ddd;
}
section.icons li.action-icon:before,
section.icons li.media-icon:before,
section.icons li.settings-icon:before,
section.icons li.comms-icon:before {
  z-index: 1;
  left: 0;
  top: 0;
}
section.icons li.action-icon span,
section.icons li.media-icon span,
section.icons li.settings-icon span,
section.icons li.comms-icon span {
  padding: 7px 10px 0 40px;
  line-height: 13px;
  float: left;
}

section.icons [role="toolbar"] {
  height: 40px;
  width: 320px;
  background: rgba(0,0,0, 0.85);
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

section.icons [role="toolbar"] ul {
  float: left;
  list-style: none;
  padding: 0;
  margin: 0;
}

section.icons [role="toolbar"] li {
  float: left;
}

section.icons [role="toolbar"] button {
  width: 55px;
  height: 40px;
  border: none;
  font-size: 0;
  background: transparent no-repeat 50% 50%;
  padding: 0;
  border-radius: 0;
}

[role="toolbar"] button:active {
  background-color: #008aaa;
}

section.icons.settings [data-type="list"] {
  background-color: #eff0eb;
}

section.icons.settings [data-type="list"] aside.icon {
  background-color: transparent;
}

section.icons.settings [data-type="list"] li {
  border-bottom-color: rgb(230, 230, 227);
}

/* -------------------------------- MEDIA QUERIES ----------------------------------- */

@media only screen and (max-width: 1000px) and (min-width: 760px) {
  #main-feature {
    margin: 0;
    width: 100%;
  }  

  body.Home #main-feature h1 {
    font-size: 90px;
  }

  .content-section h2 {
    font-size: 37px;
  }

  .content-section {
    width: 720px; 
  }

  aside.left-side + section.content-section {
    width: 420px; 
  }

  .content-section h3 {
    font-size: 24px;
  }

  body.Home .content-section {
    margin: 15px 0;
    width: 100%;
  }

  body.Home .content-section > ul li {
    float: none;
    width: 100%;
    margin: 0;
    border-top: 1px solid #ccc;
  }

  body.Home .content-section > ul li:first-child {
    border-top: none;
  }

  body.Home .content-section > ul li a {
    text-align: left;
    padding: 20px 0 10px 0;
  }

  body.Home .content-section > ul li figure {
    float: left;
  }

  body.Home .content-section > ul li h3 {
    padding: 40px 40px 0 0;
  }

  body.Home .content-section > ul li p {
    padding-right: 40px;
  }

  body.Home .content-section h4 + ul li {
    border: none;
  }

  #colophon .row {
    width: 760px;
  }

  #colophon .col {
    width: 240px;
    margin-left: 20px;
  }
}

@media only screen and (max-width: 760px) {
  #main-feature h1 {
    font-size: 45px;
    margin: 0 20px 30px 20px;
  }

  body.Home #main-feature h1 {
    font-size: 90px;
  }

  #main-feature h2 {
    font-size: 30px;
  }

  body.Home nav.menu-bar {
    text-align: center;
  }

  body.Home nav.menu-bar ul li {
    padding-bottom: 10px;
    display: inline-block;
  }

  body.Home nav.menu-bar ul li:last-child {
    padding-bottom: 0;
  }

  aside.left-side {
    float: none;
    max-height: 300px;
    overflow: scroll;
    margin-bottom: 10px;
  }

  aside nav.menu-bar {
    width: auto;
    margin-bottom: 0;
    text-align: left;
  }

  aside nav.menu-bar h4 {
    display: none;
  }

  aside nav.menu-bar ul li a.current:after {
    background-image: url(../images/menu_arrow_b.png);
  }

  body.Home .content-section > ul li {
    width: auto;
    margin: 0;
    clear: left;
    border-top: 1px solid #ccc;
  }

  body.Home .content-section > ul li:first-child {
    border-top: none;
  }

  body.Home .content-section > ul li img {
    display: none;
  }

  body.Home .content-section h4 + ul {
    background: #fff;
    padding-bottom: 20px;
  }

  body.Home .content-section h4 + ul li {
    border: none;
  }

  aside.left-side + section.content-section {
    margin-left: 0;
    width: auto;
  }

  #colophon .row {
    width: 100%;
  }

  #colophon .col {
    width: 100%;
    float: none;
    margin-left: 0;
  }

  #colophon .col h3 {
    background-color: #0a0a0a !important;
    background-position: 20px center !important;
    margin: 0;
    padding: 0 20px;
  }

  #colophon .col > ul,
  #colophon .col > .tweet,
  #colophon .col > #poll {
    width: auto;
    margin: 20px;
  }

  body.Downloads .content-section li > p:first-child {
    float: none;
  }

  body.Downloads .content-section li > h2,
  body.Downloads .content-section li > p {
    margin-left: 0;
  }

  body.Downloads .content-section li > p > img {
    display: none;
  }
  
}

@media only screen and (max-width: 480px) {
  #main-feature,
  body.Home #main-feature {
    padding: 15px 0;
  }

  body.Home #main-feature h1 {
    font-size: 54px;
  }

  body.Home #main-feature h2 {
    display: none;
  }

  body.Home .content-section h4 + ul {
    background: #fff;
  }

  section.example {
    padding: 20px 0;
  }

  body.BB section.example .frame {
    margin-left: -10px;
    overflow: hidden;
  }

}

/* Patch for missing plain link :focus styles in Sandstone
   To be removed once official sandstone_guide.css is updated
   to include these. */
a:focus{color:#0073aa;text-decoration:underline}
.sky a:focus {color:#4090c4}
.space a:focus{color:#55a1d7}
#colophon a:focus{color:#0073aa}
