html { font-size: 62.5%; }

.dboh {
  display: block;
  overflow: hidden;
}

hgroup h1 {
  font-size: 110px;
  margin-bottom: 15px;  
}

/* Home */
#section-links > ul li {
  float: left;
  width: 320px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
}

#section-links > ul li a {
  display: block;
  padding: 19px 9px 9px 9px;
  border: 1px solid #fff;
}

#section-links > ul li a:hover {
  background: #f0f0f0;
  border-color: #c3c5c5;
}

#section-links > ul li a:hover {
  text-decoration: none;
}

#section-links > ul li img {
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  height: auto;
}

#section-links > ul li h3 {
  color: #af3232;
  font-size: 22px;
  margin-bottom: 5px;
}

#section-links > ul li a:hover h3 {
  text-decoration: underline;
}

#section-links > ul li p {
  color: #666;
  min-height: 3em;
}

#section-links > ul li a:hover p {
  text-decoration: none;
}


/* Aside Menu-bar */
aside.left-side {
  float: left;
}

aside nav.menu-bar {
  text-align: inherit;
  line-height: 100%;
  width: 250px;
  padding: 0 10px;
}

aside nav.menu-bar ul {
  padding: 10px 0;
}

aside nav.menu-bar ul li {
  display: block;
  padding: 0;
  margin: 0;
}

aside nav.menu-bar ul li a {
  padding: 10px;
  border: 0;
  display: block;
  border-top: 1px dotted #d6d6d6;
  font-size: 14px;
  /*color: #0096dd;*/
}

aside nav.menu-bar ul li:first-child a {
  border-top: 0;
}

aside nav.menu-bar ul li a.current,
aside nav.menu-bar ul li a.selected {
  font-weight: bold;
}

aside.left-side + section.billboard {
  margin-left: 300px;
  padding-top: 20px;
}

/* SEE MORE */
.billboard > blockquote {
  display: none;
}

.icon-more {
  display: block;
  position: relative;
  padding: 0 0 20px 25px;
  cursor: pointer;
  color: #67a7d0;
  text-decoration: underline;
  font-size: 16px;
  line-height: 21px;
}

.icon-more:before {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #67a7d0;
  position: absolute;
  color: #fff;
  content: "+";
  font-size: 20px;
  line-height: 18px;
  height: 18px;
  width: 18px;
  text-align: center;
  left: 0;
  top: 1px;
}

.icon-more.less:before {
  content: "–";
  line-height: 16px;
}






/* Media queries */
@media only screen and (max-width: 1000px) and (min-width: 760px) {
	#section-links > ul li {
		float: left;
    width: 240px;
	}

  aside.left-side + section.billboard {
    margin-left: 280px;
    width: 440px;
  }
}

@media only screen and (max-width: 760px) {
  #main-feature h1 {
    font-size: 38px;
  }

  #main-feature h2 {
    font-size: 16px;
    width: auto;
    letter-spacing: normal;
  }

  aside.left-side {
    float: none;
  }

  aside nav.menu-bar {
    width: auto;
    max-height: 300px;
    overflow: scroll;
    margin-bottom: 10px;
  }

  #section-links > ul li {
    width: auto;
    margin: 0;
    clear: left;
  }

  #section-links > ul li img {
    display: none;
  }


  aside.left-side + section.billboard {
    margin-left: 0;
    width: auto;
  }
}

/* Examples */
section.example > img {
  display: none;
}

.not-nightly section.example > img {
  margin-bottom: 30px;
  display: block;
}

section.example .frame {
  display: block;
  overflow: hidden;
  position: relative;
  width: 320px;
  margin-bottom: 30px;
}

.not-nightly section.example .frame {
  display: none;
}

/* Tabs Navigation */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}
.nav > li > a {
  display: block;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li > a > img {
  max-width: none;
}
.nav > .pull-right {
  float: right;
}
.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
.nav li + .nav-header {
  margin-top: 9px;
}
.nav-list {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin-left: -15px;
  margin-right: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > li > a {
  padding: 3px 15px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}
.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}
.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}
.nav-tabs,
.nav-pills {
  *zoom: 1;
}
.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  content: "";
  line-height: 0;
}
.nav-tabs:after,
.nav-pills:after {
  clear: both;
}
.nav-tabs > li,
.nav-pills > li {
  float: left;
}
.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}
.nav-tabs {
  border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #ffffff;
  background-color: #0088cc;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li > a {
  margin-right: 0;
}
.nav-tabs.nav-stacked {
  border-bottom: 0;
}
.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:focus {
  border-color: #ddd;
  z-index: 2;
}
.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}
.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}
.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}
.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.nav .dropdown-toggle .caret {
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
  margin-top: 6px;
}
.nav .dropdown-toggle:hover .caret,
.nav .dropdown-toggle:focus .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}
/* move down carets for tabs */
.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px;
}
.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}
.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}
.nav > .dropdown.active > a:hover,
.nav > .dropdown.active > a:focus {
  cursor: pointer;
}
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}
.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret,
.nav li.dropdown.open a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.tabs-stacked .open > a:hover,
.tabs-stacked .open > a:focus {
  border-color: #999999;
}
.tabbable {
  *zoom: 1;
}
.tabbable:before,
.tabbable:after {
  display: table;
  content: "";
  line-height: 0;
}
.tabbable:after {
  clear: both;
}
.tab-content {
  overflow: auto;
}
.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}
.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}
.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-bottom-color: transparent;
  border-top-color: #ddd;
}
.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}
.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}
.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}
.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}
.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}
.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}
.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}
.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}
.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}
.nav > .disabled > a {
  color: #999999;
}
.nav > .disabled > a:hover,
.nav > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  cursor: default;
}

/* Transitions */
.transition {
  overflow: hidden;
  position: relative;
}

.phone-frame {
  position: relative;
  left: -19px;
  width: 380px;
  height: 640px;
  background: url(../images/transitions/phone_frame.png) no-repeat;
  padding: 63px 0 0 36px;
}

section.example .full.frame {
  height: 480px;
}

.statusbar {
  width: 320px;
  height: 20px;
}

.statusbar:after {
  position: absolute;
  content: "";
  width: 320px;
  height: 22px;
  background: #000 url(../images/transitions/status_bar.png) no-repeat;
  z-index: 20;
  top: -1px;
}

.play {
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 1;
  transition: opacity .5s ease;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  z-index: 200;
  background: transparent;
}

.play .glow {
  position: absolute;
  top: -17px;
  left: -17px;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  border: 1rem solid rgba(255,0,0,1);
  opacity: 0;
  animation: 2s blip infinite ease-in-out;
  -webkit-animation: 2s blip infinite ease-in-out;
}

.play.yellow .glow {
  border: 1rem solid rgba(255,255,50,1);
}

.play .shape {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  background: rgba(255,0,0,0.8);
  box-shadow: 0 0 1px rgba(255,0,0,1);
  -webkit-box-shadow: 0 0 1px rgba(255,0,0,1);
}

.play.yellow .shape {
  background: rgba(255,255,50,0.9);
  box-shadow: 0 0 1px rgba(255,255,50,1);
  -webkit-box-shadow: 0 0 1px rgba(255,255,50,1);
}

.play.hide {
  display: none;
}

@keyframes blip {   
  0% {
    transform: scale(.1); 
    opacity: 0;
  }
  1% {
    transform: scale(.35); 
    opacity: .8;
  }
  60% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@-webkit-keyframes blip {   
  0% {
    -webkit-transform: scale(.1);
    opacity: 0;
  }
  1% {
    -webkit-transform: scale(.35); 
    opacity: .8;
  }
  60% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
}


.how-to { 
  width: 340px;
  float: left;
  font-size: 14px;
}

.transition .app {
  width: 320px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
}

.app .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.7);
  border: 1px solid rgba(0,0,0,0.7);
}

.transition .app > p {
  position: absolute;
  top: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  z-index: 20;
  margin-top: 5px;
}

/* Task Switching */
#example-task .apps-container  {
  height: 100%;
}

#example-task .play { left: 173px; top: 564px; }

#task-app-1 {
  z-index: 12;
}

#task-app-2 {
          transform: scale(0.6) translateX(133%);
  -webkit-transform: scale(0.6) translateX(133%);
  z-index: 10;
}

#task-app-3 {
          transform: scale(0.6) translateX(133%);
  -webkit-transform: scale(0.6) translateX(133%);
  z-index: 8;
}

#task-app-1 .overlay {
  background: rgba(0,0,0,0) ;
}

/* Animation Step 1 */
.animate-1 #task-app-1 {
          animation: taskCurrentZoomOut 0.3s forwards ease-out;
  -webkit-animation: taskCurrentZoomOut 0.3s forwards ease-out;
}

.animate-1 #task-app-2 {
          animation: taskRightZoomOut 0.3s forwards ease-out;
  -webkit-animation: taskRightZoomOut 0.3s forwards ease-out;
}

/* Animation Step 2 */
.animate-2 #task-app-1 {
          transform: scale(0.8) translateX(0);
  -webkit-transform: scale(0.8) translateX(0);
          animation: taskCurrentToLeft 0.3s forwards ease-out;
  -webkit-animation: taskCurrentToLeft 0.3s forwards ease-out;
}

.animate-2 #task-app-2 {
          transform: scale(0.6) translateX(105%);
  -webkit-transform: scale(0.6) translateX(105%);
          animation: taskRightToCurrent 0.3s forwards ease-out;
  -webkit-animation: taskRightToCurrent 0.3s forwards ease-out;
}

.animate-2 #task-app-3 {
          animation: taskRightZoomOut 0.3s forwards ease-out;
  -webkit-animation: taskRightZoomOut 0.3s forwards ease-out;
}

.animate-2 #task-app-1 .overlay {
          animation: showOverlay 0.3s forwards ease-out;
  -webkit-animation: showOverlay 0.3s forwards ease-out;
}

.animate-2 #task-app-2 .overlay {
          animation: hideOverlay 0.3s forwards ease-in;
  -webkit-animation: hideOverlay 0.3s forwards ease-in;
}

.animate-3 #task-app-2 {
          transform: scale(0.8);
  -webkit-transform: scale(0.8);
          animation: taskCurrentZoomIn 0.2s forwards ease-out;
  -webkit-animation: taskCurrentZoomIn 0.2s forwards ease-out;
}

/* Deleting task */
#example-task-2 .apps-container  {
  height: 100%;
}

#example-task-2 .play { left: 173px; top: 564px; }

#task-2-app-1 {
  z-index: 12;
}

#task-2-app-2 {
          transform: scale(0.6) translateX(133%);
  -webkit-transform: scale(0.6) translateX(133%);
  z-index: 10;
}

#task-2-app-3 {
          transform: scale(0.6) translateX(133%);
  -webkit-transform: scale(0.6) translateX(133%);
  z-index: 8;
}

#task-2-app-1 .overlay {
  background: rgba(0,0,0,0);
}

/* Animation Step 1 */
.animate-1 #task-2-app-1 {
          animation: taskCurrentZoomOut 0.3s forwards ease-out;
  -webkit-animation: taskCurrentZoomOut 0.3s forwards ease-out;
}

.animate-1 #task-2-app-2 {
          animation: taskRightZoomOut 0.3s forwards ease-out;
  -webkit-animation: taskRightZoomOut 0.3s forwards ease-out;
}

/* Animation Step 2 */
.animate-2 #task-2-app-1 {
          transform: scale(0.8) translateX(0);
  -webkit-transform: scale(0.8) translateX(0);
          animation: taskCurrentToLeft 0.3s forwards ease-out;
  -webkit-animation: taskCurrentToLeft 0.3s forwards ease-out;
}

.animate-2 #task-2-app-2 {
          transform: scale(0.6) translateX(105%);
  -webkit-transform: scale(0.6) translateX(105%);
          animation: taskRightToCurrent 0.3s forwards ease-out;
  -webkit-animation: taskRightToCurrent 0.3s forwards ease-out;
}

.animate-2 #task-2-app-3 {
          animation: taskRightZoomOut 0.3s forwards ease-out;
  -webkit-animation: taskRightZoomOut 0.3s forwards ease-out;
}

.animate-2 #task-2-app-1 .overlay {
          animation: showOverlay 0.3s forwards ease-out;
  -webkit-animation: showOverlay 0.3s forwards ease-out;
}

.animate-2 #task-2-app-2 .overlay {
          animation: hideOverlay 0.3s forwards ease-in;
  -webkit-animation: hideOverlay 0.3s forwards ease-in;
}

/* Animation Step 3 */
.animate-3 #task-2-app-1 {
          animation: taskLeftToCurrent 0.3s forwards ease-out;
  -webkit-animation: taskLeftToCurrent 0.3s forwards ease-out;
}

.animate-3 #task-2-app-1 .overlay {
          animation: hideOverlay 0.3s forwards ease-out;
  -webkit-animation: hideOverlay 0.3s forwards ease-out;
}

.animate-3 #task-2-app-2 {
          transform: scale(0.8);
  -webkit-transform: scale(0.8);
          animation: taskDelete 0.3s forwards ease-in;
  -webkit-animation: taskDelete 0.3s forwards ease-in;
}

/* Animation Step 4 */
.animate-4 #task-2-app-1 {
          animation: taskCurrentZoomIn 0.2s forwards ease-out;
  -webkit-animation: taskCurrentZoomIn 0.2s forwards ease-out;
}

/* Opening an app */
#example-open .play { left: 213px; top: 294px; }

#open-app-1 .icons {
  position: absolute;
  z-index: 10;
}

#open-app-2 {
  transform: scale(0.1);
  -webkit-transform: scale(0.1);
  opacity: 0;
  z-index: 12;
}

.animate #open-app-1 .icons {
  animation: openAppIcons 0.3s forwards ease;
  -webkit-animation: openAppIcons 0.3s forwards ease;
}

.animate #open-app-2 {
  animation: openApp 0.3s forwards ease;
  -webkit-animation: openApp 0.3s forwards ease;
}

/* Closing an app */
#example-close .play { left: 173px; top: 564px; }

#close-app-1 .icons {
  position: absolute;
  z-index: 10;
}

#close-app-2 {
  z-index: 12;
}

.animate #close-app-1 .icons {
  animation: closeAppIcons 0.3s forwards ease;
  -webkit-animation: closeAppIcons 0.3s forwards ease;
}

.animate #close-app-2 {
  animation: closeApp 0.3s forwards ease;
  -webkit-animation: closeApp 0.3s forwards ease;
}



/* App invokes app */
#example-invoke .play { left: 100px; top: 343px; }

#invoke-app-1 {
  z-index: 12;
}

#invoke-app-2 {
          transform: scale(0.6) translateX(-133%);
  -webkit-transform: scale(0.6) translateX(-133%);
  z-index: 10;
}

#invoke-app-1 .overlay {
  background: rgba(0,0,0,0) ;
}

.animate #invoke-app-1 {
          animation: invokingApp 0.6s forwards ease-out;
  -webkit-animation: invokingApp 0.6s forwards ease-out;
}

.animate #invoke-app-2 {
          animation: invokedApp 0.6s forwards ease-out;
  -webkit-animation: invokedApp 0.6s forwards ease-out;
}

.animate #invoke-app-1 .overlay {
          animation: showOverlay 0.3s forwards ease-out 0.3s;
  -webkit-animation: showOverlay 0.3s forwards ease-out 0.3s;
}

.animate #invoke-app-2 .overlay {
          animation: hideOverlay 0.3s forwards ease-in 0.3s;
  -webkit-animation: hideOverlay 0.3s forwards ease-in 0.3s;
}


/* Prompts */
#example-modal .play { left: 243px; top: 78px; }

#modal-email {
  top: 0;
}
#modal-value {
  opacity: 0;
  top: 0;
}

.animate-1 #modal-value {
  animation: fadeIn 0.2s forwards;
  -webkit-animation: fadeIn 0.2s forwards;
}

.animate-2 #modal-value {
  animation: fadeOut 0.2s forwards;
  -webkit-animation: fadeOut 0.2s forwards;
}


/* Transition: Go deeper */
/* initial values */
#example-deeper [data-position="right"] {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  z-index: 10;
}

#deeper-app-2 header {
  opacity: 0;
}

.phone-frame header {
  display: block;
  overflow: hidden;
  height: 48px;
  position: relative;
}

.phone-frame header h1 {
  font: 25px/48px "MozTT", Sans-serif;
  color: #fff;
  font-weight: 300;
  margin: 0 0 0 30px;
  position: absolute;
}

#example-deeper .play { left: 193px; top: 307px; }

/* animations */
.animate-1 #deeper-app-1 header h1 {
  -webkit-animation: headerCurrentToLeft 0.4s forwards;
  animation: headerCurrentToLeft 0.4s forwards;
}
.animate-1 #deeper-app-1 .body {
  -webkit-animation: currentToLeft 0.4s forwards;
  animation: currentToLeft 0.4s forwards;
}
.animate-1 #deeper-app-2 {
  -webkit-animation: rightToCurrent 0.4s forwards;
  animation: rightToCurrent 0.4s forwards;
}
.animate-1 #deeper-app-2  header {
  -webkit-animation: fadeIn 0.4s forwards;
  animation: fadeIn 0.4s forwards;
}
.animate-2 #deeper-app-1 header h1 {
  -webkit-animation: headerLeftToCurrent 0.4s forwards;
  animation: headerLeftToCurrent 0.4s forwards;
}
.animate-2 #deeper-app-1 .body {
  -webkit-animation: leftToCurrent 0.4s forwards;
  animation: leftToCurrent 0.4s forwards;
}
.animate-2 #deeper-app-2 {
  -webkit-animation: currentToRight 0.4s forwards;
  animation: currentToRight 0.4s forwards;
}
.animate-2 #deeper-app-2 header {
  -webkit-animation: fadeOut 0.4s forwards;
  animation: fadeOut 0.4s forwards;
}


/* Transition: Dialer - Making call */
#example-call-1 .play { left: 223px; top: 450px; }

#example-call-1-2 {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}

#example-call-1-2 .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
}

#example-call-1-2 .text {
  position: absolute;
  top: 150px;
  left: 30px;
  z-index: 1;
  opacity: 0;
}

#example-call-1-2 .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transform: translateY(162px);
  -webkit-transform: translateY(162px);
}

#example-call-1-2 .overlay {
  background: rgba(0,0,0,0.45);
}

.animate #example-call-1-1 {
  animation: moveLeftOut 0.3s forwards ease-in;
  -webkit-animation: moveLeftOut 0.3s forwards ease-in;
}

.animate #example-call-1-2 {
  animation: moveLeftIn 0.3s forwards ease-in;
  -webkit-animation: moveLeftIn 0.3s forwards ease-in;
}

.animate #example-call-1-2 .top {
          animation: callNameDown 0.3s forwards ease-in 0.3s;
  -webkit-animation: callNameDown 0.3s forwards ease-in 0.3s;
}

.animate #example-call-1-2 .bottom {
          animation: callPadUp 0.3s forwards ease-in 0.3s;
  -webkit-animation: callPadUp 0.3s forwards ease-in 0.3s;
}

.animate #example-call-1-2 .text {
          animation: fadeIn 0.3s forwards ease-in 0.6s;
  -webkit-animation: fadeIn 0.3s forwards ease-in 0.6s;
}

/* Transition: Dialer - Finishing call */
#example-call-2 .play { left: 173px; top: 490px; }

#example-call-2-1 {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}

#example-call-2-2 .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#example-call-2-2 .text {
  position: absolute;
  top: 130px;
  left: 30px;
  z-index: 1;
}

#example-call-2-2 .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#example-call-2-2 .overlay {
  background: rgba(0,0,0,0.45);
}

.animate #example-call-2-1 {
          animation: moveRightIn 0.3s forwards ease-in 0.3s;
  -webkit-animation: moveRightIn 0.3s forwards ease-in 0.3s;
}

.animate #example-call-2-2 {
          animation: moveRightOut 0.3s forwards ease-in 0.3s;
  -webkit-animation: moveRightOut 0.3s forwards ease-in 0.3s;
}

.animate #example-call-2-2 .top {
          animation: callNameUp 0.3s forwards ease-in;
  -webkit-animation: callNameUp 0.3s forwards ease-in;
}

.animate #example-call-2-2 .bottom {
          animation: callPadDown 0.3s forwards ease-in;
  -webkit-animation: callPadDown 0.3s forwards ease-in;
}

.animate #example-call-2-2 .text {
          animation: fadeOut 0.3s forwards ease-in;
  -webkit-animation: fadeOut 0.3s forwards ease-in ;
}

/* Transition: Home - Answering call */
#example-call-3 .play { left: 173px; top: 395px; }

#example-call-3-1 .icons {
  position: absolute;
  z-index: 10;
}

#example-call-3-2 {
  height: 460px;
}

#example-call-3-2 .photo {
  transform: scale(0.1);
  -webkit-transform: scale(0.1);
  z-index: 12;
  position: absolute;
  opacity: 0;
}

#example-call-3-2 .text {
  position: absolute;
  top: 130px;
  left: 30px;
  z-index: 14;
  opacity: 0;
}

#example-call-3-2 .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 14;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
}

#example-call-3-2 .bottom-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 14;
  transform: translateY(65px);
  -webkit-transform: translateY(65px);
}

#example-call-3-2 .bottom-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 14;
  transform: translateY(162px);
  -webkit-transform: translateY(162px);
}

#example-call-3-2 .overlay {
  background: rgba(0,0,0,0.45);
}

.animate-1 #example-call-3-1 .icons {
  animation: openAppIcons 0.3s forwards ease;
  -webkit-animation: openAppIcons 0.3s forwards ease;
}


.animate-1 #example-call-3-2 .photo {
          animation: openApp 0.3s forwards ease;
  -webkit-animation: openApp 0.3s forwards ease;
}

.animate-1 #example-call-3-2 .top {
          animation: callNameDown 0.3s forwards ease-in 0.5s;
  -webkit-animation: callNameDown 0.3s forwards ease-in 0.5s;
}

.animate-1 #example-call-3-2 .bottom-1 {
          animation: callAnswerUp 0.3s forwards ease-in 0.5s;
  -webkit-animation: callAnswerUp 0.3s forwards ease-in 0.5s;
}

.animate-2 #example-call-3-2 .bottom-1 {
          animation: callAnswerDown 0.2s forwards ease-in;
  -webkit-animation: callAnswerDown 0.2s forwards ease-in;
}

.animate-2 #example-call-3-2 .bottom-2 {
          animation: callPadUp 0.2s forwards ease-in 0.2s;
  -webkit-animation: callPadUp 0.2s forwards ease-in 0.2s;
}

.animate-2 #example-call-3-2 .text {
          animation: fadeIn 0.4s forwards ease-in 0.2s;
  -webkit-animation: fadeIn 0.4s forwards ease-in 0.2s;
}

/* Transition: Home - Finishing call */
#example-call-4 .play { left: 173px; top: 490px; }

#example-call-4-1 .icons {
  position: absolute;
  transform: scale(1.8);
  -webkit-transform: scale(1.8);
}

#example-call-4-2 .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#example-call-4-2 .text {
  position: absolute;
  top: 130px;
  left: 30px;
  z-index: 1;
}

#example-call-4-2 .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#example-call-4-2 .overlay {
  background: rgba(0,0,0,0.45);
}

.animate #example-call-4-1 .icons {
  animation: closeAppIcons 0.3s forwards ease 0.3s;
  -webkit-animation: closeAppIcons 0.3s forwards ease 0.3s;
}

.animate #example-call-4-2 {
          animation: closeApp 0.3s forwards ease-in 0.3s;
  -webkit-animation: closeApp 0.3s forwards ease-in 0.3s;
}

.animate #example-call-4-2 .top {
          animation: callNameUp 0.3s forwards ease-in;
  -webkit-animation: callNameUp 0.3s forwards ease-in;
}

.animate #example-call-4-2 .bottom {
          animation: callPadDown 0.3s forwards ease-in;
  -webkit-animation: callPadDown 0.3s forwards ease-in;
}

.animate #example-call-4-2 .text {
          animation: fadeOut 0.3s forwards ease-in;
  -webkit-animation: fadeOut 0.3s forwards ease-in;
}

/* Transition: Home - Finishing call */
#example-call-5 .play { left: 97px; top: 485px; }

#example-call-5-1 .icons {
  position: absolute;
  transform: scale(1.8);
  -webkit-transform: scale(1.8);
}

#example-call-5-2 {
  height: 460px;
}

#example-call-5-2 .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#example-call-5-2 .text {
  position: absolute;
  top: 130px;
  left: 30px;
  z-index: 1;
}

#example-call-5-2 .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 14;
}

#example-call-5-2 .overlay {
  background: rgba(0,0,0,0.45);
}

.animate #example-call-5-1 .icons {
  animation: closeAppIcons 0.3s forwards ease 0.3s;
  -webkit-animation: closeAppIcons 0.3s forwards ease 0.3s;
}

.animate #example-call-5-2 {
          animation: closeApp 0.3s forwards ease-in 0.3s;
  -webkit-animation: closeApp 0.3s forwards ease-in 0.3s;
}

.animate #example-call-5-2 .top {
          animation: callNameUp 0.3s forwards ease-in;
  -webkit-animation: callNameUp 0.3s forwards ease-in;
}

.animate #example-call-5-2 .bottom {
          animation: callPadDown 0.3s forwards ease-in;
  -webkit-animation: callPadDown 0.3s forwards ease-in;
}

.animate #example-call-5-2 .text {
          animation: fadeOut 0.3s forwards ease-in;
  -webkit-animation: fadeOut 0.3s forwards ease-in ;
}

/* Transition: App - Answering call */
#example-call-6 .play { left: 283px; top: 435px; }

#example-call-6-1 {
  z-index: 12;
}

#example-call-6-1 .overlay {
  opacity: 0;
}

#example-call-6-2 {
  transform: scale(0.6) translateX(-133%);
  -webkit-transform: scale(0.6) translateX(-133%);
  z-index: 10;
  height: 460px;
}

#example-call-6-2 .photo {
  position: absolute;
}

#example-call-6-2 .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
}

#example-call-6-2 .text {
  position: absolute;
  top: 130px;
  left: 30px;
  z-index: 1;
  opacity: 0;
}

#example-call-6-2 .bottom-1 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transform: translateY(65px);
  -webkit-transform: translateY(65px);
}

#example-call-6-2 .bottom-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transform: translateY(162px);
  -webkit-transform: translateY(162px);
}

#example-call-6-2 .overlay {
  background: rgba(0,0,0,0.45);
}

.animate-1 #example-call-6-1 {
          animation: invokingApp 0.6s forwards ease-out;
  -webkit-animation: invokingApp 0.6s forwards ease-out;
}

.animate-1 #example-call-6-2 {
          animation: invokedApp 0.6s forwards ease-out;
  -webkit-animation: invokedApp 0.6s forwards ease-out;
}

.animate-1 #example-call-6-1 .overlay {
          animation: showOverlay 0.3s forwards ease-out 0.3s;
  -webkit-animation: showOverlay 0.3s forwards ease-out 0.3s;
}

.animate-1 #example-call-6-2 .photo {
          animation: openApp 0.5s forwards ease;
  -webkit-animation: openApp 0.5s forwards ease;
}

.animate-1 #example-call-6-2 .top {
          animation: callNameDown 0.3s forwards ease-in 0.5s;
  -webkit-animation: callNameDown 0.3s forwards ease-in 0.5s;
}

.animate-1 #example-call-6-2 .bottom-1 {
          animation: callAnswerUp 0.3s forwards ease-in 0.5s;
  -webkit-animation: callAnswerUp 0.3s forwards ease-in 0.5s;
}

.animate-2 #example-call-6-2 .bottom-1 {
          animation: callAnswerDown 0.2s forwards ease-in;
  -webkit-animation: callAnswerDown 0.2s forwards ease-in;
}

.animate-2 #example-call-6-2 .bottom-2 {
          animation: callPadUp 0.2s forwards ease-in 0.2s;
  -webkit-animation: callPadUp 0.2s forwards ease-in 0.2s;
}

.animate-2 #example-call-6-2 .text {
          animation: fadeIn 0.4s forwards ease-in 0.2s;
  -webkit-animation: fadeIn 0.4s forwards ease-in 0.2s;
}

/* Transition: App - Finishing call */
#example-call-7 .play { left:  173px; top: 490px; }

#example-call-7-1 {
  z-index: 10;
}

#example-call-7-1 {
  transform: scale(0.6) translateX(-133%);
  -webkit-transform: scale(0.6) translateX(-133%);
}

#example-call-7-1 .overlay {
  opacity: 0.7;
}

#example-call-7-2 {
  z-index: 12;
  height: 460px;
}

#example-call-7-2 .photo {
  position: absolute;
}

#example-call-7-2 .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#example-call-7-2 .text {
  position: absolute;
  top: 130px;
  left: 30px;
  z-index: 1;
}

#example-call-7-2 .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#example-call-7-2 .overlay {
  background: rgba(0,0,0,0.45);
}

.animate #example-call-7-1 {
          animation: invokedApp 0.6s forwards ease-out 0.3s;
  -webkit-animation: invokedApp 0.6s forwards ease-out 0.3s;
}

.animate #example-call-7-1 .overlay {
          animation: hideOverlay 0.3s forwards ease-out 0.6s;
  -webkit-animation: hideOverlay 0.3s forwards ease-out 0.6s;
}

.animate #example-call-7-2 {
          animation: invokingApp 0.6s forwards ease-out 0.3s;
  -webkit-animation: invokingApp 0.6s forwards ease-out 0.3s;
}

.animate #example-call-7-2 .overlay {
          animation: showCallOverlay 0.3s forwards ease-out 0.6s;
  -webkit-animation: showCallOverlay 0.3s forwards ease-out 0.6s;
}

.animate #example-call-7-2 .top {
          animation: callNameUp 0.3s forwards ease-in;
  -webkit-animation: callNameUp 0.3s forwards ease-in;
}

.animate #example-call-7-2 .bottom {
          animation: callPadDown 0.3s forwards ease-in;
  -webkit-animation: callPadDown 0.3s forwards ease-in;
}

.animate #example-call-7-2 .text {
          animation: fadeOut 0.3s forwards ease-in;
  -webkit-animation: fadeOut 0.3s forwards ease-in;
}

/* Transition: App - Reject call */
#example-call-8 .play { left: 97px; top: 485px; }

#example-call-8-1 {
  z-index: 10;
}

#example-call-8-1 {
  transform: scale(0.6) translateX(-133%);
  -webkit-transform: scale(0.6) translateX(-133%);
}

#example-call-8-1 .overlay {
  opacity: 0.7;
}

#example-call-8-2 {
  z-index: 12;
  height: 460px;
}

#example-call-8-2 .photo {
  position: absolute;
}

#example-call-8-2 .top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#example-call-8-2 .text {
  position: absolute;
  top: 130px;
  left: 30px;
  z-index: 1;
}

#example-call-8-2 .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#example-call-8-2 .overlay {
  background: rgba(0,0,0,0.45);
}

.animate #example-call-8-1 {
          animation: invokedApp 0.6s forwards ease-out 0.3s;
  -webkit-animation: invokedApp 0.6s forwards ease-out 0.3s;
}

.animate #example-call-8-1 .overlay {
          animation: hideOverlay 0.3s forwards ease-out 0.6s;
  -webkit-animation: hideOverlay 0.3s forwards ease-out 0.6s;
}

.animate #example-call-8-2 {
          animation: invokingApp 0.6s forwards ease-out 0.3s;
  -webkit-animation: invokingApp 0.6s forwards ease-out 0.3s;
}

.animate #example-call-8-2 .overlay {
          animation: showCallOverlay 0.3s forwards ease-out 0.6s;
  -webkit-animation: showCallOverlay 0.3s forwards ease-out 0.6s;
}

.animate #example-call-8-2 .top {
          animation: callNameUp 0.3s forwards ease-in;
  -webkit-animation: callNameUp 0.3s forwards ease-in;
}

.animate #example-call-8-2 .bottom {
          animation: callPadDown 0.3s forwards ease-in;
  -webkit-animation: callPadDown 0.3s forwards ease-in;
}

.animate #example-call-8-2 .text {
          animation: fadeOut 0.3s forwards ease-in;
  -webkit-animation: fadeOut 0.3s forwards ease-in;
}

/* Transition: Open/close functionalities */
#example-fuctionalities .play { left: 135px; top: 105px; }

#example-fuctionalities .apps-container { 
  height: 440px; 
  position: relative;
}

#fuctionality-app {  
  height: 100%;
  background: url(http://buildingfirefoxos.com/wp-content/uploads/2013/04/browser-footer.png) 0 bottom no-repeat,
              url(http://buildingfirefoxos.com/wp-content/uploads/2013/04/browser-header.png) no-repeat,
              url(http://buildingfirefoxos.com/wp-content/uploads/2013/04/browser-body.png) 0 30px no-repeat;
  /*transition: height 0.2s ease-in;
  -webkit-transition: height 0.2s ease-in;*/
}

#fuctionality {
  height: 100%;
  background: url(http://buildingfirefoxos.com/wp-content/uploads/2013/04/keyboard.png) no-repeat;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transition: transform 0.2s ease-in;
  -webkit-transition: -webkit-transform 0.2s ease-in;
}

.animate-1 #fuctionality-app {
  /*height: 234px;*/
}

.animate-1 #fuctionality {
  transform: translateY(234px);
  -webkit-transform: translateY(234px);
}

.animate-2 #fuctionality-app {
  height: 100%;
}

.animate-2 #fuctionality {
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
}

