<hgroup id="main-feature" class="huge center">
  <h1>Building <strong>Firefox OS</strong></h1>
  <h2>Start creating your own apps</h2>
</hgroup>

<nav class="menu-bar billboard">
  <ul>
    <li><a href="https://twitter.com/openwebdevice" class="twitter-follow-button" data-show-count="true" data-size="large" data-lang="en">Follow @openwebdevice</a></li>
    <li><a href="https://twitter.com/share" data-size="large" data-url="http://buildingfirefoxos.com" data-text="#buildingfirefoxos - Start creating your own app layouts with #FirefoxOS visual styles" class="twitter-share-button" data-lang="en">Tweet</a></li>
  </ul>
</nav>

<section id="section-links" class="container billboard"> 
  <ul>
    <li>
      <a class="cell" href="#/building-blocks">
      <img src="style/images/building_blocks.png" alt="Building Blocks" />
      <h3>Building Blocks</h3>
      <p>Set of reusable UI components with code and usage examples. <em>Use Building Blocks</em> to layout your application faster.</p>
      </a>
    </li>
    <li>
      <a class="cell" href="#/common-controls">
      <img src="style/images/common_controls.png" alt="Common Controls" />
      <h3>Common Controls</h3>
      <p><em>Have access to all Firefox OS' UI components</em> in vector format. Download the master PSD file and unleash your creativity.</p>
      </a>
    </li>
    <li>
      <a class="cell" href="#/transitions" >
      <img src="style/images/transitions.png" alt="Transitions" />
      <h3>CSS Transitions</h3>
      <p>Bring some live to your apps by adding the CSS animations and transitions <em>you will find here</em>.</p>
      </a>
    </li>
  </ul>
</section>
