{% case section %}
  {% when 'building-blocks' %}
    <!-- Building Blocks -->
    {% case page.title %}
      {% when 'Action Menu' %}
        {% if (page.theme == "whatev" %}
          <link rel="stylesheet" href="/css/BB/themes/whatev/action_menu.css">
        {% else %}
          <link rel="stylesheet" href="/css/BB/style/action_menu.css">
        {% endif %}
      {% when 'Buttons' %}
        {% if (page.theme == "whatev" %}
          <link rel="stylesheet" href="/css/BB/themes/whatev/buttons.css">
        {% else %}
          <link rel="stylesheet" href="/css/BB/style/buttons.css">
        {% endif %}
      {% when 'Confirm' %}
        <link rel="stylesheet" href="/css/BB/style/confirm.css">
      {% when 'Drawer' %}
        {% if (page.theme == "whatev" %}
          <link rel="stylesheet" href="/css/BB/themes/whatev/headers.css">
          <link rel="stylesheet" href="/css/BB/themes/whatev/buttons.css">
          <link rel="stylesheet" href="/css/BB/themes/whatev/toolbars.css">
          <link rel="stylesheet" href="/css/BB/themes/whatev/drawer.css">
        {% else %}
          <link rel="stylesheet" href="/css/BB/style/headers.css">
          <link rel="stylesheet" href="/css/BB/style_unstable/drawer.css">
        {% endif %}
      {% when 'Edit mode' %}
        <link rel="stylesheet" href="/css/BB/style/edit_mode.css">
      {% when 'Filters' %}
        {% if (page.theme == "whatev" %}
          <link rel="stylesheet" href="/css/BB/themes/whatev/tabs.css">
        {% else %}
          <link rel="stylesheet" href="/css/BB/style_unstable/tabs.css">
        {% endif %}        
      {% when 'Headers' %}
        {% if (page.theme == "whatev" %}
          <link rel="stylesheet" href="/css/BB/themes/whatev/headers.css">
        {% else %}
          <link rel="stylesheet" href="/css/BB/style/headers.css">
        {% endif %}
      {% when 'Input areas' %}
        {% if (page.theme == "whatev" %}
          <link rel="stylesheet" href="/css/BB/themes/whatev/input_areas.css">
        {% else %}
          <link rel="stylesheet" href="/css/BB/style/input_areas.css">
        {% endif %}
      {% when 'Lists' %}
        <link rel="stylesheet" href="/css/BB/style/switches.css">
        <link rel="stylesheet" href="/css/BB/style_unstable/lists.css">
      {% when 'Progress and activity' %}
        <link rel="stylesheet" href="/css/BB/style/headers.css">
        <link rel="stylesheet" href="/css/BB/style/confirm.css">
        <link rel="stylesheet" href="/css/BB/style_unstable/progress_activity.css">
      {% when 'Scrolling' %}
        <link rel="stylesheet" href="/css/BB/style_unstable/scrolling.css">
      {% when 'Seek bars' %}
        <link rel="stylesheet" href="/css/BB/style_unstable/seekbars.css">
      {% when 'Status' %}
        <link rel="stylesheet" href="/css/BB/style/status.css">
      {% when 'Switches' %}
        {% if (page.theme == "whatev" %}
          <link rel="stylesheet" href="/css/BB/themes/whatev/switches.css">
        {% else %}
          <link rel="stylesheet" href="/css/BB/style/switches.css">
        {% endif %}
      {% when 'Tabs' %}
        {% if (page.theme == "whatev" %}
          <link rel="stylesheet" href="/css/BB/themes/whatev/tabs.css">
        {% else %}
          <link rel="stylesheet" href="/css/BB/style_unstable/tabs.css">
        {% endif %}
      {% when 'Toolbars' %}
        {% if (page.theme == "whatev" %}
          <link rel="stylesheet" href="/css/BB/themes/whatev/toolbars.css">
        {% else %}
          <link rel="stylesheet" href="/css/BB/style_unstable/toolbars.css">
          <link rel="stylesheet" href="/css/BB/icons/styles/action_icons.css">
        {% endif %}
      {% when 'Value selectors' %}
        <link rel="stylesheet" href="../css/value_selectors/value_selector.css">
        <link rel="stylesheet" href="../css/value_selectors/pickers.css">
    {% endcase %} 	
    <!-- improve Building Blocks visualization in buildingfirefoxos.com -->
    <link rel="stylesheet" href="/css/building_blocks.css">
    {% if (page.theme == "whatev" %}
      <link rel="stylesheet" href="/css/BB/themes/whatev/icons.css">
    {% endif %}

  {% when 'transitions' %}
    <link rel="stylesheet" href="/css/BB/transitions.css">
    <link rel="stylesheet" href="../css/transitions.css">

  {% when 'icons' %}
    {% case page.title %}
      <!-- Building Blocks -->
      <link rel="stylesheet" href="/css/BB/style_unstable/toolbars.css">
      {% when 'Primary actions' %}
        <link rel="stylesheet" href="/css/BB/icons/styles/action_icons.css">
      {% when 'Media' %}
        <link rel="stylesheet" href="/css/BB/icons/styles/media_icons.css">
      {% when 'Communications' %}
        <link rel="stylesheet" href="/css/BB/icons/styles/comms_icons.css">
      {% when 'Settings' %}
        <link rel="stylesheet" href="/css/BB/icons/styles/settings_icons.css">
        <link rel="stylesheet" href="/css/BB/style_unstable/lists.css">
      {% endcase %}
      <!-- improve Building Blocks visualization in buildingfirefoxos.com -->
      <link rel="stylesheet" href="../css/building_blocks.css">

  <!-- Cross browser support for Building Blocks -->
  <!--link rel="stylesheet" href="/css/BB/bb_cross_browser.css"-->
{% endcase %} 
