{% case section %}
  {% when 'building-blocks' %}
    <!-- Building Blocks -->
    {% case page.title %}
      {% when 'Action Menu' %}
        <link rel="stylesheet" href="../css/BB/style/action_menu.css">
      {% when 'Buttons' %}
        <link rel="stylesheet" href="../css/BB/style/buttons.css">
      {% when 'Confirm' %}
        <link rel="stylesheet" href="../css/BB/style/confirm.css">
      {% when 'Drawer' %}
        <link rel="stylesheet" href="../css/BB/style_unstable/drawer.css">
      {% when 'Edit mode' %}
        <link rel="stylesheet" href="../css/BB/style/edit_mode.css">
      {% when 'Filters' %}
        <link rel="stylesheet" href="../css/BB/style_unstable/tabs.css">
      {% when 'Headers' %}
        <link rel="stylesheet" href="../css/BB/style/headers.css">
      {% when 'Input areas' %}
        <link rel="stylesheet" href="../css/BB/style/input_areas.css">
      {% when 'Lists' %}
        <link rel="stylesheet" href="../css/BB/style/switches.css">
        <link rel="stylesheet" href="../css/BB/style_unstable/lists.css">
      {% when 'Progress and activity' %}
        <link rel="stylesheet" href="../css/BB/style/headers.css">
        <link rel="stylesheet" href="../css/BB/style/confirm.css">
        <link rel="stylesheet" href="../css/BB/style_unstable/progress_activity.css">
      {% when 'Scrolling' %}
        <link rel="stylesheet" href="../css/BB/style_unstable/scrolling.css">
      {% when 'Seek bars' %}
        <link rel="stylesheet" href="../css/BB/style_unstable/seekbars.css">
      {% when 'Status' %}
        <link rel="stylesheet" href="../css/BB/style/status.css">
      {% when 'Switches' %}
        <link rel="stylesheet" href="../css/BB/style/switches.css">
      {% when 'Tabs' %}
        <link rel="stylesheet" href="../css/BB/style_unstable/tabs.css">
      {% when 'Toolbars' %}
        <link rel="stylesheet" href="../css/BB/style_unstable/toolbars.css">
      {% when 'Value selectors' %}
        <link rel="stylesheet" href="../css/value_selectors/value_selector.css">
        <link rel="stylesheet" href="../css/value_selectors/time_selector.css">
    {% endcase %} 	
    <!-- improve Building Blocks visualization in buildingfirefoxos.com -->
    <link rel="stylesheet" href="../css/building_blocks.css">

  {% when 'transitions' %}
    <link rel="stylesheet" href="../css/system_animations.css">
    <link rel="stylesheet" href="../css/transitions.css">
{% endcase %} 
