{% case section %}
  {% when 'building-blocks' or 'icons' %}
    <!--a href="https://github.com/buildingfirefoxos/Building-Blocks/archive/gh-pages.zip" class="header-downloads zip">
      <p>Download <br/><span>326Kb</span></p>
    </a-->

    <aside class="header-links">
      <a class="download" title="Download All Building Blocks (.zip)" href="https://github.com/buildingfirefoxos/Building-Blocks/archive/gh-pages.zip">Download All Building Blocks</a>
      <a class="github" title="Building Blocks on github"href="https://github.com/buildingfirefoxos/Building-Blocks">Github repository</a>
    </aside>

  {% when 'common-controls' %}
    <!--a href="https://dl.dropboxusercontent.com/s/vpzng18kz2iuea9/CommonControls.psd?dl=1" class="header-downloads psd">
      <p>Download <br/><span>54.3Mb</span></p>
    </a-->
  {% when 'transitions' %}
    <!--a href="https://raw.github.com/buildingfirefoxos/Building-Blocks/gh-pages/transitions.css" class="header-downloads css">
      <p>Download <br/><span>12Kb</span></p>
    </a-->
{% endcase %}
