{% case section %}
  {% when 'building-blocks' or 'icons' %}
    <aside class="header-links">
      <a onClick="_gaq.push(['_trackEvent', 'link', 'download', 'building blocks']);" class="download" title="Download All Building Blocks (.zip)" href="https://github.com/buildingfirefoxos/Building-Blocks/archive/gh-pages.zip">Download All Building Blocks</a>
      <a onClick="_gaq.push(['_trackEvent', 'link', 'github', 'building blocks']);" class="github" title="Building Blocks on github"href="https://github.com/buildingfirefoxos/Building-Blocks">Github repository</a>
    </aside>

  {% when 'transitions' %}
    <aside class="header-links">
      <a onClick="_gaq.push(['_trackEvent', 'link', 'download', 'transitions']);" id="transitions-dl" class="download" title="Download All Transitions (.css)" href="/css/BB/transitions.css">Download All Transitions</a>
    </aside>
{% endcase %}
