

<nav class="menu-bar">
  <ul>
    {% for node in pages_list %}
      {% if section == null or section == node.section %}
        {% if node.group != "main" %}
          {% if page.url == node.url %}
            <li><a href="{{node.url}}" class="current">{{node.title}}</a></li>
          {% else %}
            <li><a href="{{node.url}}">{{node.title}}</a></li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>
</nav>


{% assign pages_list = nil %}
{% assign section = nil %}