{% if section == "icons" or section == "building-blocks" %}
  {% if page.theme == "whatev" %}
    <nav class="menu-bar">
      <ul>
        {% for link in site.theme-whatev %}
          <li>
            <a {% if (page.url == link.url %}class="current"{% endif %} href="{{link.url}}" title="{{page.url}}">{{link.text}}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% else %}
    {% assign section = "icons" %}
    {% capture menu_icon %}
      <nav class="menu-bar">
        <h4>Icons</h4>
        <ul>
          {% for link in site.icons %}
            <li>
              <a {% if (page.url == link.url %}class="current"{% endif %} href="{{link.url}}" title="{{page.url}}">{{link.text}}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    {% endcapture %}
    {% assign section = "building-blocks" %}

    <nav class="menu-bar">
      <ul>
        {% for link in site.building-blocks %}
          <li>
            <a {% if (page.url == link.url %}class="current"{% endif %} href="{{link.url}}" title="{{page.url}}">{{link.text}}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    {% if section == "building-blocks" %}
      {{menu_icon}}
    {% endif %}
  {% endif %}
{% endif %}

{% if section == "transitions" %}
  <nav class="menu-bar">
    <ul>
      {% for link in site.transitions %}
        <li>
          <a {% if (page.url == link.url %}class="current"{% endif %} href="{{link.url}}" title="{{page.url}}">{{link.text}}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}

{% assign section = nil %}
