{% if page.theme == "whatev" %}
<form role="dialog" data-type="action" onsubmit="return false;">
  <header>
    <button class="icon icon-close">close</button>
  </header> <!-- this header is optional -->
  <menu>
    <button class="icon icon-message theme-A">Action 1</button>
    <button class="icon icon-message-ask theme-B">Action 2</button>
    <button class="icon icon-message-quote theme-C">Action 3</button>
  </menu>
</form>
{% else %}
<form role="dialog" data-type="action">
  <header>Title</header>
  <menu>
    <button>Action 1</button>
    <button disabled>Action 2 (disabled)</button>
    <button>Action 3</button>
    <button>Action 4</button>
    <button disabled>Action 5 (disabled)</button>
    <button>Action 6</button>
    <button>Action 7</button>
    <button disabled>Action 8 (disabled)</button>
    <button>Action 9</button>
    <button>Cancel</button>
  </menu>
</form>
{% endif %}