{% if page.theme == "whatev" %}
<section data-type="sidebar" class="has-toolbar">
  <nav>
    <ul>
      <li><a href="#content">label</a></li>
      <li class="active"><a href="#">label</a></li>
      <li><a href="#content">label</a></li>
      <li><a href="#content">label</a></li>
    </ul>
    <h2>Subtitle</h2>
    <ul>
      <li><a href="#content">label</a></li>
      <li><a href="#content">label</a></li>
      <li><a href="#content">label larger label than the others</a></li>
      <li><a href="#content">label</a></li>
    </ul>
  </nav>

  <div role="toolbar">
    <ul>
      <li><button>Log out</button></li>
    </ul>
    <ul><button class="icon icon-delete"></button></ul>
  </div>
</section>

<section id="drawer" role="region">
  <header>
    <a href="#content" class="icon icon-menu">hide sidebar</a>
    <a href="#drawer" class="icon icon-menu">show sidebar</a>
    <h1>Inbox</h1>
  </header>
  <div role="main"></div>
</section>
{% else %}
<section data-type="sidebar">
  <header>
    <menu type="toolbar">
      <a href="#content"><span class="icon icon-add">add</span></a>
    </menu>
    <h1>Title <em>(9)</em></h1>
  </header>
  <nav>
    <ul>
      <li><a href="#content">label</a></li>
      <li><a href="#content">label</a></li>
      <li><a href="#content">label</a></li>
      <li><a href="#content">label</a></li>
    </ul>
    <h2>Subtitle</h2>
    <ul>
      <li><a href="#content">label</a></li>
      <li><a href="#content">label</a></li>
      <li><a href="#content">label larger label than the </a></li>
      <li><a href="#content">label</a></li>
    </ul>
  </nav>
</section>
<section id="drawer" role="region">
  <header>
    <a href="#content"><span class="icon icon-menu">hide sidebar</span></a>
    <a href="#drawer"><span class="icon icon-menu">show sidebar</span></a>
    <h1>Inbox</h1>
  </header>
  <div role="main"></div>
</section>
{% endif %}