{% if page.theme == "whatev" %}
<ul role="tablist" data-type="filter" data-items="2">
  <li id="filter1-1" role="tab"><a href="#filter1-1">Action 01</a></li>
  <li id="filter1-2" role="tab"><a href="#filter1-2">Action 02</a></li>
</ul>
<ul role="tablist" data-type="filter" data-items="3">
  <li id="filter2-1" role="tab"><a href="#filter2-1">Action 01</a></li>
  <li id="filter2-2" role="tab"><a href="#filter2-2">Action 02</a></li>
  <li id="filter2-3" role="tab"><a href="#filter2-3">Action 02</a></li>
</ul>
<ul role="tablist" data-type="filter" data-items="4">
  <li id="filter3-1" role="tab"><a href="#filter3-1">Action 01</a></li>
  <li id="filter3-2" role="tab"><a href="#filter3-2">Action 02</a></li>
  <li id="filter3-3" role="tab"><a href="#filter3-3">Action 03</a></li>
  <li id="filter3-4" role="tab"><a href="#filter3-4">Action 04</a></li>
</ul>
{% else %}
<ul role="tablist" class="bb-tablist" data-type="filter">
  <li id="filter1-1" role="presentation"><a href="#filter1-1" role="tab">Action 01</a></li>
  <li id="filter1-2" role="presentation"><a href="#filter1-2" role="tab">Action 02</a></li>
</ul>

<ul role="tablist" data-type="filter" class="skin-grey bb-tablist">
  <li id="filter2-1" role="presentation"><a href="#filter2-1" role="tab">Action 01</a></li>
  <li id="filter2-2" role="presentation"><a href="#filter2-2" role="tab">Action 02</a></li>
  <li id="filter2-3" role="presentation"><a href="#filter2-3" role="tab">Action 02</a></li>
</ul>
{% endif %}