<ul role="tablist" class="bb-tablist" data-type="filter">
  <li id="filter1-1" role="presentation"><a href="#filter1-1" role="tab">Action 01</a></li>
  <li id="filter1-2" role="presentation"><a href="#filter1-2" role="tab">Action 02</a></li>
</ul>

<ul role="tablist" data-type="filter" class="skin-grey bb-tablist">
  <li id="filter2-1" role="presentation"><a href="#filter2-1" role="tab">Action 01</a></li>
  <li id="filter2-2" role="presentation"><a href="#filter2-2" role="tab">Action 02</a></li>
  <li id="filter2-3" role="presentation"><a href="#filter2-3" role="tab">Action 02</a></li>
</ul>
