<section class="skin-dark" role="region">
  <header>
    <a href="#"><span class="icon icon-back">back</span></a>
    <h1>Song title</h1>
  </header>
  <header>
    <h2>Subheader text</h2>
  </header>
</section>
<section class="skin-organic" role="region">
  <header>
    <a href="#"><span class="icon icon-back">back</span></a>
    <h1>Settings</h1>
  </header>
  <header>
    <h2>Subheader text</h2>
  </header>
</section>
<section class="skin-comms" role="region">
  <header>
    <a href="#"><span class="icon icon-back">back</span></a>
    <h1>Contacts</h1>
  </header>
  <header>
    <h2>Subheader text</h2>
  </header>
</section>
