<section role="region" class="vbox fit">
  <header>
    <h1>App name</h1>
  </header>
  <section class="gaia-list fit scroll sticky">
    <article>
      <header>Lipsum</header>
      <ul>
        <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></li>
        <li><p>Mauris id tellus at tellus tristique sollicitudin a non erat.</p></li>
        <li><p>Pellentesque eu dui commodo, sollicitudin mauris.</p></li>
        <li><p>Nam condimentum mi id convallis pretium.</p></li>
        <li><p>Etiam sit amet risus a nulla suscipit dapibus.</p></li>
      </ul>
    </article>
    <article>
      <header>quisquam</header>
      <ul>
        <li><p>Aliquam cursus magna ut sollicitudin tincidunt.</p></li>
        <li><p>Proin convallis odio nec fermentum porttitor.</p></li>
        <li><p>Phasellus vel magna quis leo ultricies finibus non et lectus.</p></li>
        <li><p>Ut vel dolor eget eros ullamcorper rutrum.</p></li>
      </ul>
    </article>
    <article>
      <header>Consectetur</header>
      <ul>
        <li><p>Curabitur ullamcorper risus at felis tristique vestibulum.</p></li>
        <li><p>Nullam aliquet justo vitae nulla porttitor, vel scelerisque magna aliquet.</p></li>
        <li><p>Maecenas tristique libero maximus, porttitor mauris id, condimentum orci.</p></li>
        <li><p>Duis ut tellus viverra, tincidunt eros nec, feugiat augue.</p></li>
      </ul>
    </article>
  </section>
  <footer class="gaia-footer">
    <button>Phasellus</button>
    <button class="recommend">Scelerisque</button>
  </footer>
</section>