<section data-type="list">
  <header>Title</header>
  <ul>
    <li>
      <p>Travis Gray</p>
    </li>
    <li>
      <a href="#">
        <p>Travis Gray</p>
        <p>Clickable item</p>
      </a>
    </li>
    <li>
      <aside class="pack-end">
        <img alt="placeholder" src="myimage.jpg">
      </aside>
      <a href="#">
        <p>Travis Gray</p>
        <p>Beginning of message</p>
      </a>
    </li>
  </ul>
  <header>Another title</header>
  <ul>
    <li aria-disabled="true">
      <aside class="pack-end">
        <img alt="placeholder" src="myimage.jpg">
      </aside>
      <a href="#">
        <p>Travis Gray</p>
        <p>Disabled item</p>
      </a>
    </li>
    <li>
      <a href="#">
        <aside data-icon="call-outgoing">
          asidecall
        </aside>
        <p>Travis Gray <em>(2)</em></p>
        <p>
          <time datetime="17:43">5:43PM</time>
          Mobile
        </p>
      </a>
    </li>
  </ul>
</section>