<section data-type="list">
  <ul data-type="edit">
    <li>
      <label class="pack-checkbox danger">
        <input type="checkbox">
        <span></span>
      </label>
      <aside class="pack-end">
        <img alt="placeholder" src="myimage.jpg">
      </aside>
      <a href="#">
        <p>Travis Gray</p>
        <p>Beginning of message</p>
      </a>
    </li>
    <li>
      <label class="pack-checkbox danger">
        <input type="checkbox">
        <span></span>
      </label>
      <a href="#">
        <aside data-icon="call-outgoing"></aside>
        <p>Travis Gray <em>(2)</em></p>
        <p>
          <time datetime="17:43">5:43PM</time>
          Mobile
        </p>
      </a>
    </li>
  </ul>
</section>