<form role="dialog" data-type="object">
  <header>Title</header>
  <section>
    <ul>
      <li>First item</li>
      <li><p>One Paragraph</p></li>
      <li>
        <p>Two</p>
        <p>Paragraphs</p>
      </li>
      <li><button>Button</button></li>
      <li><a href="#">Anchor</a></li>
      <li>
        <a href="#">
          <p>Paragrah inside anchor</p>
        </a>
      </li>
      <li>
        <a href="#">
          <p>Two Paragrahs</p>
          <p>inside anchor</p>
        </a>
      </li>
    </ul>
  </section>
  <menu type="toolbar">
    <button class="full">Cancel</button>
  </menu>
</form>
