<form role="dialog" data-type="object">
  <header>Title</header>
  <section class="skin-dark">
    <h2>Input</h2>
    <ul>
      <li class="input">
        <p>
          <input type="text" placeholder="Placeholder">
          <button type="reset"></button>
        </p>
      </li>
    </ul>
    <h2>Textarea</h2>
    <ul>
      <li class="input">
        <p>
          <textarea placeholder="Placeholder in textarea"></textarea>
        </p>
      </li>
    </ul>
  </section>
  <menu type="toolbar">
    <button>Cancel</button>
    <button class="recommend">Save</button>
  </menu>
</form>
