<form role="dialog" data-type="object">
  <header>Title</header>
  <section>
    <h2>Radio buttons</h2>
    <ul class="bb-radio">
      <li>
        <label>
          <input type="radio" name="radio-example" checked>
          <span data-icon="tick">Radio button text</span>
        </label>
      </li>
      <li>
        <label>
          <input type="radio" name="radio-example">
          <span data-icon="tick">Radio button text</span>
        </label>
      </li>
    </ul>
    <h2>Checkboxes</h2>
    <ul class="bb-checkbox">
      <li>
        <label>
          <input type="checkbox">
          <span data-icon="tick">Checkbox button text 1</span>
        </label>
      </li>
      <li class="inactive">
        <label>
          <input type="checkbox">
          <span data-icon="tick">Checkbox button text 2</span>
        </label>
      </li>
      <li>
        <label>
          <input type="checkbox" checked>
          <span data-icon="tick">Checkbox button text 3</span>
        </label>
      </li>
    </ul>
  </section>
  <menu type="toolbar">
    <button>Cancel</button>
    <button class="recommend">Ok</button>
  </menu>
</form>
