<section role="region">
  <div role="slider" aria-valuemin="0" aria-valuenow="80" aria-valuemax="100" aria-valuetext="slider description">
    <div>
      <progress value="80" max="100"></progress>
      <button>handler</button>
    </div>
  </div>
</section>
<section role="region">
  <div role="slider" aria-valuemin="0" aria-valuenow="80" aria-valuemax="100" aria-valuetext="slider description">
    <label>0</label>
    <label>100</label>
    <div>
      <progress value="80" max="100"></progress>
      <button>handler</button>
    </div>
  </div>
</section>
<section role="region">
  <div role="slider" aria-valuemin="0" aria-valuenow="80" aria-valuemax="100" aria-valuetext="slider description">
    <label class="icon">0</label>
    <label class="icon">100</label>
    <div>
      <progress value="80" max="100"></progress>
      <button>handler</button>
    </div>
  </div>
</section>