{% if page.theme == "whatev" %}
<div role="toolbar">
	<ul>
	  <li><button>Log out</button></li>
	</ul>
	<ul>
	  <li><button class="icon icon-good text">like</button></li>
	  <li><button class="icon icon-bad">dislike</button></li>
	</ul>
</div>
{% else %}
<div role="toolbar">
  <ul>
    <li><button class="action-icon delete">delete</button></li>
  </ul>
  <ul>
    <li><button class="action-icon email-flag">Flag</button></li>
    <li><button class="action-icon email-markread">Mark read</button></li>
    <li><button class="action-icon move">Move</button></li>
  </ul>
</div>
{% endif %}