hgroup h1 {
  font-size: 110px;
  margin-bottom: 15px;  
}

/* Home */
#section-links > ul li {
  float: left;
  width: 320px;
  font-family: 'Open Sans',sans-serif;
  font-size: 12px;
  list-style-type: none;
  margin: 0;
}

#section-links > ul li a {
  display: block;
  padding: 19px 9px 9px 9px;
  border: 1px solid #fff;
}

#section-links > ul li a:hover {
  background: #f0f0f0;
  border-color: #c3c5c5;
}

#section-links > ul li a:hover {
  text-decoration: none;
}

#section-links > ul li img {
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  height: auto;
}

#section-links > ul li h3 {
  color: #af3232;
  font-size: 22px;
  margin-bottom: 5px;
}

#section-links > ul li a:hover h3 {
  text-decoration: underline;
}

#section-links > ul li p {
  color: #666;
  min-height: 3em;
}

#section-links > ul li a:hover p {
  text-decoration: none;
}


/* Aside Menu-bar */
aside.left-side {
  float: left;
  margin-right: 40px;
}

aside nav.menu-bar {
  text-align: inherit;
  line-height: 100%;
  width: 250px;
  padding: 0 10px;
}

aside nav.menu-bar ul {
  padding: 10px 0;
}

aside nav.menu-bar ul li {
  display: block;
  padding: 0;
  margin: 0;
}

aside nav.menu-bar ul li a {
  padding: 10px;
  border: 0;
  display: block;
  border-top: 1px dotted #d6d6d6;
  font-size: 14px;
}

aside nav.menu-bar ul li:first-child a {
  border-top: 0;
  color: #0096dd;
}

aside.left-side + section.billboard {
  margin-left: 300px;
  padding-top: 20px;
}



@media only screen and (max-width: 1000px) and (min-width: 760px) {
	#section-links > ul li {
		float: left;
    width: 240px;
	}

  aside.left-side + section.billboard {
    margin-left: 280px;
    width: 440px;
  }
}

@media only screen and (max-width: 760px) {
  #main-feature h1 {
    font-size: 38px;
  }

  #main-feature h2 {
    font-size: 16px;
    width: auto;
    letter-spacing: normal;
  }

  aside.left-side {
    float: none;
    margin-right: 0;
  }

  aside nav.menu-bar {
    width: auto;
  }

  #section-links > ul li {
    width: auto;
    margin: 0;
    clear: left;
  }

  #section-links > ul li img {
    display: none;
  }


  aside.left-side + section.billboard {
    margin-left: 0;
    width: auto;
  }
}