<nav class="menu-bar billboard">
  <ul>
    <li><a ng-class="{ current: activePath=='/building-blocks/action-menu' }" href="#/building-blocks/action-menu">Action menu</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/buttons' }" href="#/building-blocks/buttons">Buttons</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/confirm' }" href="#/building-blocks/confirm">Confirm</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/drawer' }" href="#/building-blocks/drawer">Drawer</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/edit-mode' }" href="#/building-blocks/edit-mode">Edit mode</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/filters' }" href="#/building-blocks/filters">Filters</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/headers' }" href="#/building-blocks/headers">Headers</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/input-areas' }" href="#/building-blocks/input-areas">Input areas</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/lists' }" href="#/building-blocks/lists">Lists</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/progres-and-activity' }" href="#/building-blocks/progres-and-activity">Progress and activity </a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/scrolling' }" href="#/building-blocks/scrolling">Scrolling</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/seek-bars' }" href="#/building-blocks/seek-bars">Seek bars</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/status' }" href="#/building-blocks/status">Status</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/switches' }" href="#/building-blocks/switches">Switches</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/tabs' }" href="#/building-blocks/tabs">Tabs</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/toolbars' }" href="#/building-blocks/toolbars">Toolbars</a></li>
    <li><a ng-class="{ current: activePath=='/building-blocks/value-selectors' }" href="#/building-blocks/value-selectors">Value selectors</a></li>
  </ul>
</nav>