{% assign section = {{page.section}} %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{page.title}}</title>

    <link href="//mozorg.cdn.mozilla.net/media/css/tabzilla-min.css" rel="stylesheet">

    <!--[if lte IE 8]>
    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
    <![endif]-->
    <link href="http://fonts.googleapis.com/css?family=Fira+Sans:400,300,500" rel="stylesheet" type="text/css">

    <link rel="stylesheet" media="screen,projection,tv" href="/css/sandstone_guide-min.css">

    <link rel="stylesheet" media="screen,projection,tv" href="/css/highlight.css">
    {% include additional_links.html %}
    <link rel="stylesheet" media="screen,projection,tv" href="/css/style.css">

    <link rel="shortcut icon" href="https://mozorg.cdn.mozilla.net/media/img/favicon.ico">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body id="sandstone" class="html-ltr sky image-fallback {{page.title}} {{page.theme}}"
>

    <div id="outer-wrapper">
      <div id="wrapper">
      {% if page.title != "Home" %}

        <header id="masthead">
          <a href="http://www.mozilla.org/" id="tabzilla">Mozilla</a>

          <nav id="nav-main" role="navigation">
            <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
            <ul id="nav-main-menu">
              {% for link in site.menu %}
                <li>
                  <a {% if (page.section == link.url %}class="current"{% endif %} href="/{{link.url}}">{{link.text}}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        </header>
      {% endif %}
        <hgroup id="main-feature" class="huge">
          {% if page.title == "Home" %}
            <!--h1>Building <strong>Firefox OS</strong></h1>
            <h2>{{page.h2}}</h2-->
          {% else %}
            <h1><a href="/">Building <strong>Firefox OS</strong></a></h1>
            <h2>
              <a href="/{{page.section}}">{{page.h2}}</a>
              {% include downloads.html %}
            </h2>
          {% endif %}
        </hgroup>

        <section class="dboh">
          {% if page.root == "root" %}
            {% if page.title == "Home" %}
              <!--nav class="menu-bar">
                <ul>
                  <li><a href="https://twitter.com/TEF_FirefoxOS" class="twitter-follow-button" data-show-count="true" data-size="large" data-lang="en">Follow @TEF_FirefoxOS</a></li>
                  <li><a href="https://twitter.com/share" data-size="large" data-url="http://buildingfirefoxos.com" data-text="#buildingfirefoxos - Start creating your own app layouts with #FirefoxOS visual styles" class="twitter-share-button" data-lang="en">Tweet</a></li>
                </ul>
              </nav-->
            {% endif %}

          {% else %}
            <aside class="left-side">
              {% include side_menu.html %}
            </aside>
          {% endif %}

          <section class="content-section billboard">

            {{content}}

            {% if page.group != "main" %}
              <div class="scroll-top"><span>Back to top</span></div>
              {% include comments.html %}
            {% endif %}
          </section>
        </section>

      </div><!-- close #wrapper -->

      {% if page.title != "Home" %}
      <footer id="colophon">
        <div class="row">
          <div class="col twitter">
            <h3>Twitter activity</h3>
            <div class="tweet">
              <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/TEF_FirefoxOS" data-widget-id="345681704574398465">Tweets por @TEF_FirefoxOS</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
          </div>

          <div class="col links">
            <h3>Links & resources</h3>
            <ul>
              <li>
                <h4>Firefox OS - Visual guidelines</h4>
                <a href="http://www.mozilla.org/en-US/styleguide/products/firefox-os/">http://www.mozilla.org/en-US/styleguide/products/firefox-os/</a>
              </li>
              <li>
                <h4>Building Firefox OS find a new home</h4>
                <a href="https://hacks.mozilla.org/2013/07/firefox-os-building-blocks-find-a-new-home-and-get-more-streamlined/">https://hacks.mozilla.org/...</a>
              </li>
              <li>
                <h4>Design Principles Behind Firefox OS</h4>
                <a href="https://blog.mozilla.org/ux/2012/09/mozcamp-warsaw-design-principles-behind-firefox-os-ux/">https://blog.mozilla.org/...</a>
              </li>
              <li>
                <h4>Firefox OS Building Blocks to the rescue</h4>
                <a href="https://hacks.mozilla.org/2013/02/firefox-os-building-blocks-to-the-rescue/">https://hacks.mozilla.org/...</a>
              </li>
              <li>
                <h4>Design Building Blocks</h4>
                <a href="https://wiki.mozilla.org/Gaia/Design/BuildingBlocks">https://wiki.mozilla.org/...</a>
              </li>
            </ul>
          </div>

          <div class="col mozilla">
            <h3>
                <a href="https://www.mozilla.org/en-US/"><img src="/images/footer-mozilla.png" alt="mozilla"></a>
            </h3>
            <ul>
              <li>Portions of this content are ©1998–2013 by individual mozilla.org contributors. Content available under a <a href="https://www.mozilla.org/foundation/licensing/website-content.html">Creative Commons license</a>.</li>
              <li><a href="/contribute.html">Contribute to this page</a></li>
              <li><a href="https://www.mozilla.org/en-US/about/contact.html#map-mountain_view">Contact Us</a></li>
            </ul>
            <ul>
              <li><a href="https://www.mozilla.org/b/en-US/privacy/">Privacy Policy</a></li>
              <li><a href="https://www.mozilla.org/en-US/about/legal.html">Legal Notices</a></li>
              <li><a href="https://www.mozilla.org/en-US/legal/fraud-report/index.html">Report Trademark Abuse</a></li>
              <li><a href="http://twitter.com/firefox">Twitter</a></li>
              <li><a href="http://facebook.com/Firefox">Facebook</a></li>
              <li><a href="https://affiliates.mozilla.org/">Firefox Affiliates</a></li>
            </ul>
          </div>
        </div>
      </footer>
      {% endif %}

    </div><!-- close #outer-wrapper -->

    <!--[if IE 9]>
      <script src="//mozorg.cdn.mozilla.net/media/js/libs/matchMedia.js"></script>
    <![endif]-->

    <script src="/js/jquery.tipsy.js"></script>
    <script src="/js/site.js"></script>
    <script src="/js/ga.js"></script>
    <script src="//mozorg.cdn.mozilla.net/tabzilla/tabzilla.js"></script>
  </body>
</html>
