---
main-menu:
- text: Home
  url: index.html
- text: Building Blocks
  url: building-blocks
- text: Common Controls
  url: common-controls
- text: Transitions
  url: transitions
---

{% if page.root != "root" %}
  {% assign root = "../" %}
{% endif %}
{% assign section = {{page.section}} %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{page.title}}</title>

    <link href="https://www.mozilla.org/tabzilla/media/css/tabzilla.css?build=1" rel="stylesheet">
    
    <!--[if lte IE 8]>
    <script src="//mozorg.cdn.mozilla.net/media/js/libs/html5shiv.js"></script>
    <![endif]-->

    <link rel="stylesheet" media="screen,projection,tv" href="https://mozorg.cdn.mozilla.net/media/css/sandstone_guide-min.css?build=128c8fb">
    
    <link rel="stylesheet" media="screen,projection,tv" href="{{root}}css/highlight.css">
    <link rel="stylesheet" media="screen,projection,tv" href="{{root}}css/tabs.css">
    {% include additional_links.html %}
    <link rel="stylesheet" media="screen,projection,tv" href="{{root}}css/style.css">
    
    <link rel="shortcut icon" href="https://mozorg.cdn.mozilla.net/media/img/favicon.ico">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body id="sandstone" class="html-ltr sky {{page.title}}">

    <div id="outer-wrapper">
      <div id="wrapper">

        <header id="masthead">
          <a href="http://www.mozilla.org/" id="tabzilla">Mozilla</a>

          <nav id="nav-main" role="navigation">
            <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">Menu</span>
            <ul id="nav-main-menu">
              {% for link in page.main-menu %}
                <li>
                  <a {% if (page.section == link.url %}class="current"{% endif %} href="{{root}}{{link.url}}" title="{{link.title}}">{{link.text}}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>        
        </header>
        
        <hgroup id="main-feature" class="huge{% if page.root == "root" %} center{% endif %}">
          {% include downloads.html %}
          <h1>{{page.h1}}</h1>
          <h2>{{page.h2}}</h2>
        </hgroup>

        <section class="dboh">
          {% if page.root == "root" %}
            {% if page.title == "Home" %}
              <nav class="menu-bar">
                <ul>
                  <li><a href="https://twitter.com/openwebdevice" class="twitter-follow-button" data-show-count="true" data-size="large" data-lang="en">Follow @openwebdevice</a></li>
                  <li><a href="https://twitter.com/share" data-size="large" data-url="http://buildingfirefoxos.com" data-text="#buildingfirefoxos - Start creating your own app layouts with #FirefoxOS visual styles" class="twitter-share-button" data-lang="en">Tweet</a></li>
                </ul>
              </nav>
            {% endif %}
          {% else %}
            <aside class="left-side">
              <nav class="menu-bar">
                <ul>
                  {% assign pages_list = site.pages | sort: "name" %}
                  {% include pages_list %}
                </ul>
              </nav>
            </aside>
          {% endif %}

          <section class="content-section billboard">
            {{content}}

            {% if page.scroll == "top" %}
              <div class="scroll-top"><span>Back to top</span></div>
            {% endif %}
          </section>
        </section>

      </div><!-- close #wrapper -->

      <footer id="colophon">
        <div class="row">
          <div class="col twitter">
            <h3>Twitter activity</h3>
            <div class="tweet"></div>
          </div>
          
          <div class="col links">
            <h3>Links & resources</h3>
            <ul>
              <li>
                <h4>Design Principles Behind Firefox OS</h4>
                <a href="https://blog.mozilla.org/ux/2012/09/mozcamp-warsaw-design-principles-behind-firefox-os-ux/">https://blog.mozilla.org/...</a>
              </li>
              <li>
                <h4>Firefox OS Building Blocks to the rescue</h4>
                <a href="https://hacks.mozilla.org/2013/02/firefox-os-building-blocks-to-the-rescue/">https://hacks.mozilla.org/...</a>
              </li>
              <li>
                <h4>Design Building Blocks</h4>
                <a href="https://wiki.mozilla.org/Gaia/Design/BuildingBlocks">https://wiki.mozilla.org/...</a>
              </li>
              <li>
                <h4>Firefox OS - Building Blocks example</h4>
                <a href="https://gist.github.com/rnowm/">https://gist.github.com/rnowm/</a>
              </li>
            </ul>
          </div>
          
          <div class="col mozilla">
            <h3>
                <a href="https://www.mozilla.org/en-US/"><img src="{{root}}images/footer-mozilla.png" alt="mozilla"></a>
            </h3>
            <ul>
              <li>Portions of this content are ©1998–2013 by individual mozilla.org contributors. Content available under a <a href="https://www.mozilla.org/foundation/licensing/website-content.html">Creative Commons license</a>.</li>
              <li><a href="{{root}}contribute.html">Contribute to this page</a></li>
              <li><a href="https://www.mozilla.org/en-US/about/contact.html#map-mountain_view">Contact Us</a></li>
            </ul>
            <ul>
              <li><a href="https://www.mozilla.org/b/en-US/privacy/">Privacy Policy</a></li>
              <li><a href="https://www.mozilla.org/en-US/about/legal.html">Legal Notices</a></li>
              <li><a href="https://www.mozilla.org/en-US/legal/fraud-report/index.html">Report Trademark Abuse</a></li>
              <li><a href="http://twitter.com/firefox">Twitter</a></li>
              <li><a href="http://facebook.com/Firefox">Facebook</a></li>
              <li><a href="https://affiliates.mozilla.org/">Firefox Affiliates</a></li>
            </ul>    
          </div>
        </div>
      </footer>
      
    </div><!-- close #outer-wrapper -->

    <!--[if IE 9]>
      <script src="//mozorg.cdn.mozilla.net/media/js/libs/matchMedia.js"></script>
    <![endif]-->

    <script src="{{root}}js/common-resp-min.js"></script>
    <script src="{{root}}js/tabzilla.js"></script>
    <script src="{{root}}js/tabs.js"></script>
    <script>
      $(function() {
        $( ".tabs" ).tabs();
      });
    </script>
    <script src="{{root}}js/jquery.tweet.js"></script>
    <script src="{{root}}js/site.js"></script>
  </body>
</html>
